<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper">
                <div id="box">
                    <div class="sticky">
                        @import "breadcrumbs.html"
                    </div>
                </div>
                <div class="popup">
                    <div class="box-white py-4 active">
                        <div class="loading__card-top d-flex justify-content-between align-items-sm-center align-items-end">
                            <div class="bg-light">
                                <p>ORDER <br>
                                    P20-0140-KRPU 8/1 </p>
                            </div>
                            <div class="btns d-flex flex-sm-row flex-column justify-content-end">
                                <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                                    <img src="img/white__create-24-px.svg" alt="edit" class="edit">
                                </a>
                                <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center mt-sm-0 mt-1">
                                    <img src="img/white-bin.svg" alt="garbage" class="garbage">
                                </a>
                            </div>
                        </div>
                        <div class="loading__card">
                            <div class="loading__card-light">
                                <div class="row justify-content-lg-between pt-2 pb-4">
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Quantity</p>
                                        <input type="text" value="180">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">In packages</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">On Pallets </p>
                                        <input type="text" value="330">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Pallets type</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Total weight </p>
                                        <input type="text" value="330">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loading__card my-4">
                            <div class="row py-4">
                                <div class="col-md-6">
                                    <h3 class="title loading__card-title d-flex align-items-center">QTS 0-20 White Peat, WA, pH 5.5-6.0 (H2O), NPK 0.8kg </h3>
                                </div>
                                <div class="col-md-6 d-flex justify-content-md-end justify-content-between mt-md-0 mt-3">
                                    <div class="loading__card-col">
                                        <p class="text-11-blue">Batch No</p>
                                        <input type="text" value="6778736182">
                                    </div>
                                    <div class="loading__card-col ml-sm-5 ml-2">
                                        <p class="text-11-blue">Product code</p>
                                        <input type="text" value="QWE8686E">
                                    </div>
                                </div>
                            </div>
                            <div class="loading__card-light">
                                <div class="row justify-content-lg-between pt-2 pb-4">
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Quantity</p>
                                        <input type="text" value="180">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">In packages</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">On Pallets </p>
                                        <input type="text" value="330">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Pallets type</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Total weight </p>
                                        <input type="text" value="330">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loading__card my-4">
                            <div class="row py-4">
                                <div class="col-md-6">
                                    <h3 class="title loading__card-title d-flex align-items-center">QTS 0-20 White Peat, WA, pH 5.5-6.0 (H2O), NPK 0.8kg </h3>
                                </div>
                                <div class="col-md-6 d-flex justify-content-md-end justify-content-between mt-md-0 mt-3">
                                    <div class="loading__card-col">
                                        <p class="text-11-blue">Batch No</p>
                                        <input type="text" value="6778736182">
                                    </div>
                                    <div class="loading__card-col ml-sm-5 ml-2">
                                        <p class="text-11-blue">Product code</p>
                                        <input type="text" value="QWE8686E">
                                    </div>
                                </div>
                            </div>
                            <div class="loading__card-light">
                                <div class="row justify-content-lg-between pt-2 pb-4">
                                    <div class="col-lg-2 col-md-4 my-3">
                                        <p class="text-14">Quantity</p>
                                        <input type="text" value="180">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">In packages</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">On Pallets </p>
                                        <input type="text" value="330">
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Pallets type</p>
                                        <div class="select">
                                            <div class="select__item">HT</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                    <li class="select__option">HT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                                        <p class="text-14">Total weight </p>
                                        <input type="text" value="330">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row loading__product align-items-end pb-4">
                            <div class="col-lg-7">
                                <p class="text-14">Select product </p>
                                <div class="d-flex ">
                                    <div class="select">
                                        <div class="select__item"></div>
                                        <div class="select__drop">
                                            <ul class="select__menu">
                                                <li class="select__option"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-blue">+ Add new product</a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <a href="#" class="btn-aquamarine big mt-3">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---Container-->

        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>

</body>

</html>