.way
  background-color: rgba(#109cf1, 0.1)
  margin: 0 -30px 0 -25px
  padding: 20px 0 50px
  position: relative
  &__checks
    flex-shrink: 0
  &__mid
    position: absolute
    left: 50%
    top: calc(50% - 40px)
    transform: translate(-50%, -50%)
  &__row
    display: flex
    flex-wrap: wrap
  &__item
    width: 16.66%
    margin-top: 40px
    p, a
      display: block
      text-align: center
      margin-top: 4px
    &-icon
      height: 50px
      margin: 0 auto
      &-city
        height: 56px
        margin-top: -6px
      &-car
        width: 47px
        display: flex
        align-items: flex-end
    &-way
      display: flex
      align-items: center
      position: relative
      margin: 30px 0 25px
    &:first-child
      .way__line
        left: 50%
    &:last-child
      .way__line
        width: 50%
  &__point
    width: 22px
    height: 22px
    border: solid 1px $color4
    border-radius: 50%
    display: block
    position: relative
    z-index: 2
    margin: 0 auto
    &:before
      @include before
      width: 13px
      height: 13px
      background: $color4
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  &__line
    position: absolute
    width: 100%
    left: 0
    top: 50%
    transform: translateY(-50%)
    background-color: $color7
    opacity: 0.91
    height: 4px
    z-index: 1
.btn-add-blue
  border-radius: 4px
  background-color: #156ce4
  line-height: 40px
  font-size: 15px
  color: #ffffff
  width: 128px
  position: relative
  z-index: 2
.rate__row
  .select
    width: calc(100% - 118px)
    margin-right: -10px
  .select:before
    right: 26px
.rate
  .nav-tabs .nav-link
    width: 150px
.rate__text-request
  font-size: 22px
.table__rate__body li
  background: #fff
.table__rate
  border-left: solid 1px rgba(183, 188, 214, 0.37)
  overflow-x: auto
  width: calc(100% + 55px + 7vw)
  margin: 0 -30px 0 -25px
  scrollbar-width: thin
  p
    width: 100%
    color: #141515
    //max-width: 190px
  &::-webkit-scrollbar
    width: 6px
    height: 6px
    background: none
  &::-webkit-scrollbar-thumb
    background: rgba(183, 188, 214, 0.37)
  &-item
    padding: 14px 0
    min-width: 40px
    height: 100%
    display: flex
    flex-direction: column
    //justify-content: center
  .bg-light-blue, .bg-blue, .table__rate-row-one, .table__rate-row-two
    padding: 0 10px 0 20px
    border-bottom: solid 1px rgba(183, 188, 214, 0.37)
    min-height: 56px
  .bg-blue, .table__rate-row-two
    border-right: solid 1px rgba(183, 188, 214, 0.37)
  .bg-blue, .table__rate-row-two
    padding: 0
  .bg-blue
    .table__rate-item
      justify-content: center
    p
      color: #ffffff
  .bg-light-blue
    .table__rate-item
      justify-content: center
  .bg-light-blue, .table__rate-row-one
    .table__rate-item
      padding: 14px 25px 14px 0
      &:first-child
        width: 265px
      &:nth-child(2)
        width: 285px
      &:nth-child(3)
        width: 190px
      &:nth-child(4)
        width: 140px
      &:nth-child(5)
        width: 129px
  .bg-blue .table__rate-item
    border-right: 1px solid rgba(#ffffff, 0.5)

  .bg-blue, .table__rate-row-two
    .table__rate-item
      width: 88px
      text-align: center
      position: relative
.table__rate-two
  .bg-blue .table__rate-item
    padding: 14px 25px
  .bg-light-blue, .table__rate-row-one
    .table__rate-item
      &:first-child
        width: 265px
      &:nth-child(2)
        width: 262px
      &:nth-child(3)
        width: 179px
      &:nth-child(4)
        width: 146px
      &:nth-child(5)
        width: 186px
  .bg-blue, .table__rate-row-two
    padding: 0
    .table__rate-item
      p
        text-align: center
      &:first-child
        width: 219px
      &:nth-child(2)
        width: 205px
      &:nth-child(3)
        width: 191px
      &:nth-child(4)
        width: 126px
      &:nth-child(5)
        width: 126px
  .bg-blue
    .table__rate-item
      border-right: 1px solid rgba(#ffffff, 0.5)

  .table__rate-item-pallet
    width: 132px!important
  .table__rate-item-tone
    width: 205px!important
    padding: 10px!important
    span
      display: block
      font-size: 12px
.table__rate-between
  p
    width: 45px
.delimiter
  padding: 0
  color: #b7bcd6!important
  width: auto!important
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)

.checkbox__transport
  &-check
    width: 20px
    height: 20px
    border: solid 1px #bfc5d2
    border-radius: 4px
    box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06)
    background-color: #ffffff
    margin-right: 32px
  &-icon
    margin-right: 13px
  &-text
    font-size: 18px
    color: #141515
.head__border
  border-bottom: 1px solid rgba(#ebeff2, 0.8)
  padding: 10px 0
.rate-road__item
  width: calc(22% - 36px)
  margin-right: 48px
  &:nth-child(2)
    width: calc(34% - 36px)
  &:last-child
    margin-right: 0
.scale
  transform: scale(-1,1)

.table__companies .table__body
  max-height: 555px

.graphic
  border-radius: 4px
  box-shadow: 0 0 11px 0 rgba(137, 146, 167, 0.36)
  border: solid 1px $color1
  background-color: $color1
  padding: 15px 24px 69px
  max-width: 314px
  margin-right: 40px
  width: 100%
  position: relative
  .arrow-drop
    border-color: $color5 transparent transparent transparent
  &__item
    width: 100%
    height: 69px
    object-fit: cover
    position: absolute
    bottom: 0
    left: 0
    overflow: hidden
    img
      height: 70px
      width: calc(100% + 35px)
      object-fit: cover
      margin-left: -25px
  &__week
    text-align: right
    span
      display: block
      font-size: 11px
.price
  .c-navy-blue
    font-size: 30px
  span
    font-size: 12px
    color: #9191af
    margin: 5px 0 0 14px
.table__rate-table, .table__rate-table-road
  width: calc(100% + 55px + 7vw)
  .table__rate-item
    position: relative
    width: 150px
    &:nth-child(2)
      width: 64px
    &:nth-child(3)
      width: 245px
      margin-right: 35px
      padding: 0 38px
    &:nth-last-child(4)
      width: 167px
    &:nth-last-child(3)
      width: 196px
    &:nth-last-child(2)
      width: 143px
    &:last-child
      width: 40px
.table__rate-table-road
  .table__rate-item
    position: relative
    width: 150px
    &:first-child
      width: 60px
    &:nth-child(3)
      width: 245px
      margin-right: 35px
      padding: 0 38px
    &:nth-child(4)
      width: 264px
    &:nth-child(10)
      width: 196px
    &:nth-child(11)
      width: 143px
    &:nth-child(12)
      width: 40px
.table__rate-item
  &:focus .notes-window, &:active .notes-window, .notes-window:hover
    display: block
.notes
  &-window
    position: absolute
    left: 0
    top: 0
    padding-top: 50px
    z-index: 5
    display: none
  &-container
    border-radius: 2px
    box-shadow: 1px 2px 15px 2px rgba(40, 46, 59, 0.12)
    background-color: $color1
    padding: 17px 13px
    width: max-content
    min-width: 294px
  &-textarea
    height: 75px
    border-radius: 4px
    border: solid 1px $color6
    padding: 10px
    font-size: 13px
    &::-webkit-input-placeholder
      color: $color6
      font-style: italic
      font-size: 13px

    &:-moz-placeholder
      color: $color6
      font-style: italic
      font-size: 13px

    &::-moz-placeholder
      color: $color6
      font-style: italic
      font-size: 13px

    &:-ms-input-placeholder
      color: $color6
      font-style: italic
      font-size: 13px
.filter-drop
  display: none

.rate-archive
  font-size: 15px
  color: #ffffff
  padding: 11px 20px
  margin-right: 37px
  text-align: center
  min-width: 170px
  display: block
  border-radius: 2px
  background-color: #109cf1

.table__body-item
  position: relative
  .input-text
    &::-webkit-input-placeholder
      color: #b7bcd6
      font-style: italic

    &:-moz-placeholder
      color: #b7bcd6
      font-style: italic

    &::-moz-placeholder
      color: #b7bcd6
      font-style: italic

    &:-ms-input-placeholder
      color: #b7bcd6
      font-style: italic


.table__plus
  width: 20px
  height: 20px
  background-color: #ffffff
  border-radius: 50%
  margin: 0 auto
  cursor: pointer
  &:before,  &:after
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    background-color: #156ce4
    width: 1px
    height: 10px
  &:after
    width: 10px
    height: 1px

.table__plus-click
  &:focus .table__plus-drop, &:active .table__plus-drop, .table__plus-drop:hover
    display: block
.table__plus-btn
  font-size: 15px
  line-height: 36px
  display: block
  padding: 0 10px
  min-width: 85px

.table__plus-drop
  display: none
  position: absolute
  right: 10px
  top: 0
  padding-top: 65px
  z-index: 4
  &.active
    display: block
.table__plus-menu
  width: fit-content
  padding: 19px 25px
  border-radius: 2px
  box-shadow: 1px 2px 15px 2px rgba(40, 46, 59, 0.12)
  background-color: #ffffff
.table__plus-text
  font-size: 13px
  color: #282e3b

.table__li
  color: #282e3b
  font-size: 15px
  line-height: 1.33
  min-height: 20px
  //white-space: nowrap
  //text-overflow: ellipsis
  //overflow: hidden
.table__rate p
  min-height: 20px
  //white-space: nowrap
  //overflow: hidden
  //text-overflow: ellipsis

.table__li-num
  list-style-type: decimal
  margin-left: 15px