<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper ">
                <div id="box"></div>
                
                <div class="popup active">
                    <form class="box-white py-4 active">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <h2 class="title-2 c-navy-blue weight-medium mb-5">QUOTE REQUEST</h2>
                        <div class="table table__rate py-3">
                            <div class="table__head d-none d-lg-block">
                                <div class="row">
                                    <div class="col-3"><p>FROM</p></div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-3"><p>TO</p></div>
                                            <div class="col-3"><p>TERM</p></div>
                                            <div class="col-3"><p>CONTAINER</p></div>
                                            <div class="col-3"><p>COMPANY</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-12">
                                            <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Klaipeda, 246000, Lithuania
                                                LTKL</p>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-sm-3 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">FROM:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">COMPANY:</span>Company name</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-12">
                                            <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Klaipeda, 246000, Lithuania
                                                LTKL</p>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-sm-3 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">FROM:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">COMPANY:</span>Company name</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-12">
                                            <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Klaipeda, 246000, Lithuania
                                                LTKL</p>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-sm-3 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">FROM:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">COMPANY:</span>Company name</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row justify-content-between mt-4">
                            <div class="col-lg-4 col-sm-6 mt-4 make-booking__col">
                                <p class="text-14">Quantity</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 mt-4 make-booking__col">
                                <p class="text-14">Weight </p>
                                <div class="select">
                                    <div class="select__item">1 Tone</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option">1 Tone</li>
                                            <li class="select__option">2 Tone</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 mt-4 make-booking__col">
                                <p class="text-14">Earlest  departure time  </p>
                                <input type="date" class="input input-date" value="">
                            </div>
                        </div>
                        <div class="row pt-5 align-items-center">
                            <div class="col-sm-6 pr-xl-5">
                                <p class="text-14">Commodity</p>
                                <textarea class="textarea bg-white make-booking__textarea"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="d-flex my-2">
                                    <input type="checkbox" class="checkbox" checked="">
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14">Requires temperature control</span>
                                </label>
                                <label class="d-flex pt-2">
                                    <input type="checkbox" class="checkbox" checked="">
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14">Dangerous cargo </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-7 mt-5 pr-xl-5">
                                <div class="textarea__messages">
                                    <img src="img/create-14.svg" alt="create" class="textarea__messages-icon">
                                    <textarea cols="30" rows="10" class="textarea" placeholder="Messages"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-5 mt-5 pr-xl-5">
                                <div class="select__carrier">
                                    <div class="select__item select__carrier-item d-flex align-items-center justify-content-center c-gray px-3">
                                        <img src="img/team.svg" alt="team" class="img-team">
                                        <p class="px-sm-4 px-2">Select carrier department</p>
                                        <div class="arrow-drop"></div>
                                    </div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn-aquamarine btn-submit my-5">Send request</button>
                        </div>
                    </form>
                </div>
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>