<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="../../../../../tickets/app/js/tickets.js"></script>
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid" id="container-wrapper ">
                <div id="box">
                    <div class="box-white rate">
                        <ul class="nav nav-tabs pt-4">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#contents__item-1">OСEAN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#contents__item-2">ROAD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#contents__item-3">rail</a>
                            </li>
                        </ul>
                        <div id="contents" class="contents  pt-5">
                            <div id="contents__item-1">
                                <div class="way">
                                    <div class="way__item">
                                        <img src="img/icon-ocean-1.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__point"></div>
                                            <div class="way__line"></div>
                                        </div>
                                        <p class="text-16">DO</p>
                                        <p class="text-13 c-dark">Haulage</p>
                                    </div>
                                    <div class="way__item">
                                        <img src="img/icon-ocean-2.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__line"></div>
                                            <div class="way__point"></div>
                                        </div>
                                        <p class="text-16">LI</p>
                                        <p class="text-13 c-dark">Liner in</p>
                                    </div>
                                    <div class="way__item">
                                        <img src="img/icon-ocean-3.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__point"></div>
                                            <div class="way__line"></div>
                                        </div>
                                        <p class="text-16">CY-CY</p>
                                        <p class="text-13 c-dark">Ocean freight</p>
                                    </div>
                                    <div class="way__item">
                                        <img src="img/icon-ocean-2.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__point"></div>
                                            <div class="way__line"></div>
                                        </div>
                                        <p class="text-16">LO</p>
                                        <p class="text-13 c-dark">Liner out</p>
                                    </div>
                                    <div class="way__item">
                                        <img src="img/icon-ocean-4.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__point"></div>
                                            <div class="way__line"></div>
                                        </div>
                                        <p class="text-16">FOT</p>
                                        <p class="text-13 c-dark">Free on truck</p>
                                    </div>
                                    <div class="way__item">
                                        <img src="img/icon-ocean-1.svg" alt="icon" class="way__item-icon">
                                        <div class="way__item-way">
                                            <div class="way__point"></div>
                                            <div class="way__line"></div>
                                        </div>
                                        <p class="text-16">DO</p>
                                        <p class="text-13 c-dark">Haulage</p>
                                    </div>
                                </div>
                                <div class="box-white__top mt-5 d-flex align-items-center">
                                    <h2 class="title">ORIGIN</h2>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Country</p>
                                            <input type="text" class="input" value="Rucava, LV">
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Place of loading</p>
                                            <input type="text" class="input" value="Busan, KR">
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Port</p>
                                            <input type="text" class="input" value="LTAP">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-white__top d-flex align-items-center">
                                    <h2 class="title">DESTINATION</h2>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Country</p>
                                            <input type="text" class="input" value="Rucava, LV">
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Place of loading</p>
                                            <input type="text" class="input" value="Busan, KR">
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Port</p>
                                            <input type="text" class="input" value="LTAP">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-between mt-2">
                                    <div class="col-4 mb-5">
                                        <div class="rate__item ">
                                            <p class="text-14">Container type</p>
                                            <div class="select">
                                                <div class="select__item"></div>
                                                <div class="select__drop">
                                                    <ul class="select__menu">
                                                        <li class="select__option">Container type</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item">
                                            <p class="text-14">Container type</p>
                                            <div class="select">
                                                <div class="select__item"></div>
                                                <div class="select__drop">
                                                    <ul class="select__menu">
                                                        <li class="select__option">Container type</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 mb-5">
                                        <div class="rate__item 5">
                                            <p class="text-14">Container type</p>
                                            <div class="select">
                                                <div class="select__item"></div>
                                                <div class="select__drop">
                                                    <ul class="select__menu">
                                                        <li class="select__option">Container type</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-5">
                                    <div class="col-5">
                                        <p class="text-14">Provider </p>
                                        <div class="d-flex rate__row">
                                            <div class="select">
                                                <input class="select__item" value="">
                                                <div class="select__drop">
                                                    <ul class="select__menu">
                                                        <li class="select__option">Provider</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button class="btn-add-blue">+ Add</button>
                                        </div>
                                    </div>
                                    <div class="col-5 ">
                                        <p class="text-14">Provider </p>
                                        <div class="d-flex rate__row">
                                            <div class="select">
                                                <input class="select__item" value="FAK">
                                                <div class="select__drop">
                                                    <ul class="select__menu">
                                                        <li class="select__option">FAK</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button class="btn-add-blue">+ Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-4">
                                    <div class="col-6 mt-3">
                                        <textarea cols="30" rows="10" class="textarea">Specifications</textarea>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <textarea cols="30" rows="10" class="textarea">Notes</textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-sm-center justify-content-around py-5 saves">
                                    <a href="#" class="btn-white mx-2">Save </a>
                                    <a href="#" class="btn-aquamarine mx-2">Add rate </a>
                                </div>
                            </div>


                            <div id="contents__item-2"></div>
                            <div id="contents__item-3"></div>
                        </div>
                    </div>
                    <div class="delivery box-white">



                    </div>

                </div>
                @import "popups.html"
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>