<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper">
                <div id="box"> </div>
                <div class="popup">
                    <form class="box-white py-4 active">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <h2 class="title-2 c-navy-blue weight-medium mb-5">BOOK REQUEST</h2>

                        <div class="row align-items-end">
                                <div class="col-md-6 pr-xl-5">
                                    <div class="box-white__top d-flex align-items-center">
                                        <h2 class="title">BOOKING TYPE</h2>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <label class="checkbox__label mt-4 ">
                                            <input type="radio" name="radio1" class="checkbox" checked="">
                                            <span class="checkbox__check d-flex align-items-center">
                                    <span class="checkbox__text">Export</span>
                                    <span class="checkbox__icon"></span>
                                </span>
                                        </label>
                                        <label class="checkbox__label mt-4 ">
                                            <input type="radio" name="radio1" class="checkbox">
                                            <span class="checkbox__check d-flex align-items-center">
                                    <span class="checkbox__text">Import</span>
                                    <span class="checkbox__icon"></span>
                                </span>
                                        </label>
                                        <label class="checkbox__label mt-4 ">
                                            <input type="radio" name="radio1" class="checkbox">
                                            <span class="checkbox__check d-flex align-items-center">
                                    <span class="checkbox__text">Cross shipment</span>
                                    <span class="checkbox__icon"></span>
                                </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5 mt-4">
                                    <p class="text-14">Assign to order</p>
                                    <div class="select">
                                        <div class="select__item">RP20-753827598-y7244</div>
                                        <div class="select__drop">
                                            <ul class="select__menu">
                                                <li class="select__option">RP20-753827598-y7244</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="table table__rate-book py-5 mt-3">
                            <div class="table__head d-none d-lg-block">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col-6"><p>FROM</p></div>
                                            <div class="col-6"><p>TO</p></div>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-3"><p>TERM</p></div>
                                            <div class="col-3"><p>CONTAINER</p></div>
                                            <div class="col-3"><p>RATE</p></div>
                                            <div class="col-3"><p>EXTRA</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">FROM:</span>Klaipeda, 246000, Lithuania
                                                        LTKL</p>
                                                </div>
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">RATE:</span>1500 €</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">EXTRA:</span>300 €</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">FROM:</span>Klaipeda, 246000, Lithuania
                                                        LTKL</p>
                                                </div>
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">RATE:</span>1500 €</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">EXTRA:</span>300 €</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">FROM:</span>Klaipeda, 246000, Lithuania
                                                        LTKL</p>
                                                </div>
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">RATE:</span>1500 €</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">EXTRA:</span>300 €</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">FROM:</span>Klaipeda, 246000, Lithuania
                                                        LTKL</p>
                                                </div>
                                                <div class="col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 w-100">TO:</span>Shanghai, 345000, China
                                                        CHLT</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">TERM:</span>LIFO</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER:</span>255’ DVLT</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">RATE:</span>1500 €</p></div>
                                                <div class="col-sm-3 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">EXTRA:</span>300 €</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Carrier</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Booking office </p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Quotation No.</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between mb-5">
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Container type</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Quantity</p>
                                <div class="calc">
                                    <button class="calc__btn calc__btn-minus"></button>
                                    <input type="number" class="calc__input" value="0">
                                    <button class="calc__btn calc__btn-plus"></button>
                                </div>
                                
                            </div>
                            <div class="col-sm-4 mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Weight, tone </p>
                                <div class="calc">
                                    <button class="calc__btn calc__btn-minus"></button>
                                    <input type="number" class="calc__input" value="1">
                                    <button class="calc__btn calc__btn-plus"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5 align-items-center">
                            <div class="col-sm-6">
                                <p class="text-14">Commodity</p>
                                <textarea class="textarea bg-white make-booking__textarea"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="d-flex my-2">
                                    <input type="checkbox" class="checkbox" checked>
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14">Requires temperature control</span>
                                </label>
                                <label class="d-flex pt-2">
                                    <input type="checkbox" class="checkbox" checked>
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14">Dangerous cargo </span>
                                </label>
                            </div>
                        </div>

                        <div class="col-transfer d-flex flex-wrap align-items-start pb-5">
                            <div class="mt-sm-5 mt-4 make-booking__col align-items-center">
                                <p class="text-14">Earlest  departure time </p>
                                <input type="text" class="input input-date datepicker" value="" name="start">
                            </div>
                            <div class="mt-sm-5 mt-4 make-booking__col align-items-center">
                                <p class="text-14">Loading from and till </p>
                                <input type="text" class="input input-date datepicker" value="" name="end">
                            </div>
                        </div>
                        <div class="col-transfer d-flex flex-wrap align-items-start pb-5">
                            <div class="mt-sm-5 mt-4 make-booking__col align-items-center">
                                <p class="text-14">Shipper</p>
                                <div class="select">
                                        <div class="select__item"></div>
                                        <div class="select__drop">
                                            <ul class="select__menu">
                                                <li class="select__option"></li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            <a href="#" class="transfer mt-sm-5 mt-4">
                                <img src="img/transfer-2.svg" alt="transfer" class="transfer-img">
                            </a>
                            <div class="mt-sm-5 mt-4 make-booking__col">
                                <p class="text-14">Consigner</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option"></li>
                                        </ul>
                                    </div>
                                </div>
                                <label class="d-flex mt-4">
                                    <input type="checkbox" class="checkbox" checked>
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14 weight-light"><i>Same as  shipper </i></span>
                                </label>
                            </div>
                        </div>
                        <div class="box-white__top d-flex align-items-center mt-sm-5 mb-4">
                            <h2 class="title">PAYMENT DETAIL</h2>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-6 mb-5 ">
                                <div class="d-flex justify-content-between align-items-center border-bottom pr-md-4">
                                    <div class="payment-detail "> Origin</div>
                                    <label class="d-flex" >
                                        <input type="checkbox" class="checkbox" checked>
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Prepaid </span>
                                    </label>
                                    <label class="d-flex">
                                        <input type="checkbox" class="checkbox">
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Collect </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5 ">
                                <div class="d-flex justify-content-between align-items-center border-bottom pr-md-4">
                                    <div class="payment-detail "> Destination</div>
                                    <label class="d-flex" >
                                        <input type="checkbox" class="checkbox" checked>
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Prepaid </span>
                                    </label>
                                    <label class="d-flex ">
                                        <input type="checkbox" class="checkbox">
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Collect </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5 ">
                                <div class="d-flex justify-content-between align-items-center border-bottom pr-md-4">
                                    <div class="payment-detail ">Freight</div>
                                    <label class="d-flex" >
                                        <input type="checkbox" class="checkbox" checked>
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Prepaid </span>
                                    </label>
                                    <label class="d-flex">
                                        <input type="checkbox" class="checkbox">
                                        <span class="checkbox__icon-blue mr-sm-4 mr-2 ml-0"></span>
                                        <span class="text-14 m-0">Collect </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-4 pr-xl-5">
                                <p class="text-14">Remarks</p>
                                <textarea class="textarea bg-white make-booking__textarea"></textarea>
                            </div>
                            <div class="col-sm-6 mb-4 pr-xl-5">
                                <p class="text-14">Notes</p>
                                <textarea class="textarea bg-white make-booking__textarea"></textarea>
                            </div>
                            <div class="col-sm-6 mt-3 pr-xl-5">
                                <div class="textarea__messages">
                                    <img src="img/create-14.svg" alt="create" class="textarea__messages-icon">
                                    <textarea cols="30" rows="10" class="textarea" placeholder="Messages"></textarea>
                                </div>
                                <label class="d-flex mt-4">
                                    <input type="checkbox" class="checkbox" checked="">
                                    <span class="checkbox__icon-blue mr-4 ml-0"></span>
                                    <span class="text-14">Create booking without sending email to carier </span>
                                </label>

                            </div>
                        </div>
                        <div class=" mt-5 mb-4 mx-auto d-flex justify-content-center">
                            <button type="submit" class="btn-aquamarine btn-submit">Submit booking</button>
                        </div>

                    </form>
                </div>

            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/admin.js"></script>
</body>

</html>