<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper ">
                <div id="box"></div>
                
                <div class="popup active">
                    <div class="box-white py-4 active">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <h2 class="title-2 c-navy-blue weight-medium mb-5">SEND TO SALES</h2>
                        <a href="#" class="link text-left weight-normal">Last added sales rates</a>
                        <div class="table table__rate mt-3">
                            <div class="table__head d-none d-lg-block">
                                <div class="row">
                                    <div class="col-xl-5 col-4"><p>COUNTRY, PORT</p></div>
                                    <div class="col-xl-7 col-8">
                                        <div class="row">
                                            <div class="col-4"><p>TOTAL RATE</p></div>
                                            <div class="col-4"><p>CONTAINER TYPE</p></div>
                                            <div class="col-4"><p>PERIOD</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-4 col-12">
                                            <p class="d-inline"><span class="d-lg-none d-flex mb-2 w-100">COUNTRY, PORT</span>Klaipeda LT (Rucava) - Jebel ali AE , DO-FO</p>
                                        </div>
                                        <div class="col-xl-7 col-lg-8 col-12">
                                            <div class="row">
                                                <div class="col-sm-4 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">TOTAL RATE:</span>1200 €</p>
                                                </div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER TYPE:</span>90 HT</p></div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PERIOD:</span>01.02.2020 - 29.02.2020</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-4 col-12">
                                            <p class="d-inline"><span class="d-lg-none d-flex mb-2 w-100">COUNTRY, PORT</span>Klaipeda LT (Rucava) - Jebel ali AE , DO-FO</p>
                                        </div>
                                        <div class="col-xl-7 col-lg-8 col-12">
                                            <div class="row">
                                                <div class="col-sm-4 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">TOTAL RATE:</span>1200 €</p>
                                                </div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER TYPE:</span>90 HT</p></div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PERIOD:</span>01.02.2020 - 29.02.2020</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-4 col-12">
                                            <p class="d-inline"><span class="d-lg-none d-flex mb-2 w-100">COUNTRY, PORT</span>Klaipeda LT (Rucava) - Jebel ali AE , DO-FO</p>
                                        </div>
                                        <div class="col-xl-7 col-lg-8 col-12">
                                            <div class="row">
                                                <div class="col-sm-4 col-6">
                                                    <p><span class="d-lg-none d-flex mb-2 mt-3">TOTAL RATE:</span>1200 €</p>
                                                </div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">CONTAINER TYPE:</span>90 HT</p></div>
                                                <div class="col-sm-4 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PERIOD:</span>01.02.2020 - 29.02.2020</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-white__top mt-5 d-flex align-items-center">
                            <h2 class="title">SEA</h2>
                        </div>
                        <div class="row ">
                            <div class="col-lg-5 col-sm-6 mt-4">
                                <p class="text-14">Ocean freight</p>
                                <div class="select">
                                    <div class="select__item">Latvia LT - Tenerife ES</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option">Latvia LT - Tenerife ES</li>
                                            <li class="select__option">Latvia LT - Tenerife ES</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 mt-4">
                                <p class="text-14">Currency</p>
                                <div class="select">
                                    <div class="select__item">EUR</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option">EUR</li>
                                            <li class="select__option">RUB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-6">
                                <div class="box-white__top mt-5 d-flex align-items-center">
                                    <h2 class="title">ORIGION</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm mt-4">
                                        <p class="text-14">Land transport</p>
                                        <div class="select">
                                            <div class="select__item">Latvia LT - Tenerife ES</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">Latvia LT - Tenerife ES</li>
                                                    <li class="select__option">Latvia LT - Tenerife ES</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 mt-4">
                                        <p class="text-14">Rate</p>
                                        <input type="text" class="input" value="1500">
                                    </div>
                                    <div class="col-sm-3 col-6 mt-4">
                                        <p class="text-14">Currency</p>
                                        <div class="select">
                                            <div class="select__item">EUR</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">EUR</li>
                                                    <li class="select__option">RUB</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="box-white__top mt-5 d-flex align-items-center">
                                    <h2 class="title">DESTINATION</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mt-4">
                                        <p class="text-14">Land transport</p>
                                        <div class="select">
                                            <div class="select__item">Latvia LT - Tenerife ES</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">Latvia LT - Tenerife ES</li>
                                                    <li class="select__option">Latvia LT - Tenerife ES</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 mt-4">
                                        <p class="text-14">Rate</p>
                                        <input type="text" class="input" value="1500">
                                    </div>
                                    <div class="col-sm-3 col-6 mt-4">
                                        <p class="text-14">Currency</p>
                                        <div class="select">
                                            <div class="select__item">EUR</div>
                                            <div class="select__drop">
                                                <ul class="select__menu">
                                                    <li class="select__option">EUR</li>
                                                    <li class="select__option">RUB</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 mt-sm-5 mt-4">
                                <p class="text-14">Valid time from and till </p>
                                <div class="select">
                                    <div class="select__item select__date">20.02.2020 - 22.03.2020</div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-3 mt-sm-5 mt-4">
                                <p class="text-14">Margin</p>
                                <input type="text" class="input" value="4298640">
                            </div>
                            <div class="col-xl-2 col-sm-3 mt-sm-5 mt-4">
                                <p class="text-14">Valid time from and till </p>
                                <div class="select">
                                    <div class="select__item">EUR</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option">EUR</li>
                                            <li class="select__option">RUB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 mt-5">
                                <div class="bg-blue-bright d-flex justify-content-between px-4 py-2">
                                    <p class="title-20 py-1 ">TOTAL:          450 EUR</p>
                                    <a href="#" class="shipper__edit py-1">
                                        <svg class="edit" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 15 15">
                                            <path fill="#fff" d="M0 11.875V15h3.125l9.215-9.215L9.215 2.66 0 11.875zm14.756-8.507c.325-.325.325-.85 0-1.175l-1.95-1.95c-.324-.324-.85-.324-1.174 0L10.107 1.77l3.124 3.124 1.525-1.525z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="shipper__content">
                                    <ul class="row flex-wrap justify-content-between">
                                        <li class="col-sm-6">
                                            <p class="text-14">Currency cinversation   EUR 1 = USD  1,0897
                                                <a href="#"><img src="img/create-14.svg" alt="create" class="edit d-inline ml-3"></a></p>
                                        </li>
                                        <li class="col-sm-6">
                                            <p class="text-14">Currency cinversation   EUR 1 = USD  1,0897
                                                <a href="#"><img src="img/create-14.svg" alt="create" class="edit d-inline ml-3"></a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 mt-5">
                                <textarea cols="30" rows="10" class="textarea">Notes</textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn-aquamarine big my-5">Send  </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>