<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper ">
                <div id="box"></div>
                
                <div class="popup active">
                    <div class="box-white popup__rate-sea py-4 active">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <div class="table table__sea pt-sm-4 px-lg-5">
                            <div class="table__head d-none d-md-block px-4">
                                <div class="row">
                                    <div class="col-4"><p>EXTRA CHARGE NAME</p></div>
                                   <div class="col-8">
                                       <div class="row">
                                           <div class="col-4 d-flex justify-content-center"><p>UNIT</p></div>
                                           <div class="col-4 d-flex justify-content-center"><p>CURRENCY</p></div>
                                           <div class="col-4 d-flex justify-content-center"><p>PRICE</p></div>
                                       </div>
                                   </div>

                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <input type="text" class="input-text" value="Charge name" placeholder="+ Add a new charge">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row ">
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p> <span class="d-md-none d-flex mb-2 mt-3">UNIT:</span></p>
                                                        <div class="select select__two">
                                                            <div class="select__item c-gray">UNIT</div>
                                                            <div class="select__drop">
                                                                <ul class="select__menu">
                                                                    <li class="select__option">TIFO</li>
                                                                    <li class="select__option">LOT</li>
                                                                    <li class="select__option">NIFO</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p><span class="d-md-none d-flex mb-2 mt-3">CURRENCY:</span> </p>
                                                        <div class="select select__two">
                                                            <div class="select__item c-gray">CURRENCY</div>
                                                            <div class="select__drop">
                                                                <ul class="select__menu">
                                                                    <li class="select__option">EUR</li>
                                                                    <li class="select__option">EUR</li>
                                                                    <li class="select__option">EUR</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p><span class="d-md-none d-flex mb-2 mt-3">PRICE:</span></p>
                                                        <div class="select select__two">
                                                            <div class="select__item c-gray">PRICE</div>
                                                            <div class="select__drop">
                                                                <ul class="select__menu">
                                                                    <li class="select__option">PRICE</li>
                                                                    <li class="select__option">PRICE</li>
                                                                    <li class="select__option">PRICE</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="clear-two "></button>
                                </li>
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <input type="text" class="input-text" value="Charge name" placeholder="+ Add a new charge">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row ">
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p> <span class="d-md-none d-flex mb-2 mt-3">UNIT:</span></p>
                                                        <div class="select select__two">
                                                            <div class="select__item c-gray">UNIT</div>
                                                            <div class="select__drop">
                                                                <ul class="select__menu">
                                                                    <li class="select__option">TIFO</li>
                                                                    <li class="select__option">LOT</li>
                                                                    <li class="select__option">NIFO</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p><span class="d-md-none d-flex mb-2 mt-3">CURRENCY:</span> </p>
                                                        <div class="select select__two">
                                                            <div class="select__item c-gray">CURRENCY</div>
                                                            <div class="select__drop">
                                                                <ul class="select__menu">
                                                                    <li class="select__option">EUR</li>
                                                                    <li class="select__option">EUR</li>
                                                                    <li class="select__option">EUR</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div>
                                                        <p><span class="d-md-none d-flex mb-2 mt-3">PRICE:</span></p>
                                                        <input type="text" class="input-normal" placeholder="PRICE">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="clear-two "></button>
                                </li>
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <input type="text" class="input-text" value="Charge name" placeholder="+ Add a new charge">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center">
                                                    <div><p><span class="d-md-none d-flex mb-2 mt-3">UNIT:</span>LOT</p></div>
                                                </div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center"><div><p><span class="d-md-none d-flex mb-2 mt-3">CURRENCY:</span>EUR</p></div></div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center"><div><p><span class="d-md-none d-flex mb-2 mt-3">PRICE:</span>330</p></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="clear-two "></button>
                                </li>
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <input type="text" class="input-text" value="Charge name" placeholder="+ Add a new charge">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center"><div><p><span class="d-md-none d-flex mb-2 mt-3">UNIT:</span>LOT</p> </div></div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center"><div><p><span class="d-md-none d-flex mb-2 mt-3">CURRENCY:</span>EUR</p></div></div>
                                                <div class="col-sm-4 col-6 d-md-flex justify-content-center"><div><p><span class="d-md-none d-flex mb-2 mt-3">PRICE:</span>330</p></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="clear-two "></button>
                                </li>
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <input type="text" class="input-text" value="" placeholder="+ Add a new charge">
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item px-sm-4 px-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><span class="d-md-none d-flex mb-2 w-100">EXTRA CHARGE NAME:</span></p>
                                            <a href="#" class="c-gray text-italic">+ Add a new charge</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-md-5 px-3 bg-blue-bright py-2"><div class="text-16 c-white">TOTAL: 450 EUR</div></li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-md-center justify-content-between saves my-4">
                            <button type="button" class="btn-white mx-2">Remove all   </button>
                            <button type="button" class="btn-aquamarine mx-2">Submit    </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>