<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid" id="container-wrapper ">
                <div id="box">
                    <div class="box-white popup__request py-5 m-lg-4">
                        <div class="path__item justify-content-center mx-auto active">
                            <div class="path__check"></div>
                        </div>
                        <p class="rate__text-request c-navy-blue text-center mt-4"> Your request has been sent</p>
                    </div>
                </div>
                

            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>