* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #67758d;
  line-height: 1; }

*:-moz-placeholder {
  color: #67758d;
  line-height: 1; }

*::-moz-placeholder {
  color: #67758d;
  line-height: 1; }

*:-ms-input-placeholder {
  color: #67758d;
  line-height: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000000; }

body input:required:valid,
body textarea:required:valid {
  color: #505050; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  outline: none;
  text-decoration: none; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #282e3b; }

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.container {
  margin: 0; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar.toggled {
  z-index: 6; }

input, textarea {
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: solid 1px #b7bcd6;
  padding: 11px 13px;
  color: #67758d;
  line-height: 1;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 42px; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input:disabled {
  background: #fff;
  opacity: 0.3; }

label {
  position: relative; }

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent; }
  button:focus {
    outline: none; }

.select {
  position: relative;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: solid 1px #b7bcd6; }
  .select:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/arrow-drop-down-24-px.svg") no-repeat center/10px 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 10px;
    height: 100%;
    left: auto;
    right: 16px; }
  .select.active:before {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }
  .select__drop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 3px;
    z-index: 5;
    display: none;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content; }
  .select__menu {
    border-radius: 4px;
    border: solid 1px #b7bcd6;
    overflow-y: auto;
    max-height: 138px;
    padding: 7px 0;
    background: #ffffff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    scrollbar-color: #b7bcd6 #fff;
    scrollbar-width: thin; }
    .select__menu::-webkit-scrollbar {
      width: 3px;
      -webkit-appearance: none;
              appearance: none; }
    .select__menu::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #b7bcd6; }
    .select__menu::-webkit-scrollbar-button {
      display: none; }
  .select__option {
    color: #282e3b;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    line-height: 1.73;
    cursor: pointer;
    padding: 0 15px; }
    .select__option.active, .select__option:hover {
      color: #109cf1; }
  .select__item {
    line-height: 40px;
    padding: 0 30px 0 13px;
    color: #67758d;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%; }

.add-order-no .select {
  border: none;
  max-width: 180px; }

.nav-link-arrow {
  width: 16px;
  height: 16px;
  margin: 0 6px 0 24px; }

.checkbox {
  display: none;
  position: absolute;
  right: 0;
  top: 0; }
  .checkbox__blue .checkbox__text {
    color: #67758d;
    font-size: 16px;
    line-height: 2.13; }
  .checkbox__label {
    margin-right: 25px;
    cursor: pointer; }
  .checkbox__check {
    padding: 7px 20px;
    border-radius: 4px;
    background-color: #f6f7f8; }
  .checkbox__icon, .checkbox__icon-blue {
    width: 16px;
    height: 16px;
    border: solid 1px #b7bcd6;
    display: block;
    margin-left: 11px;
    border-radius: 4px; }
  .checkbox__private-check .checkbox__text {
    font-weight: 500; }
  .checkbox:checked ~ .checkbox__check {
    background: #109CF1; }
    .checkbox:checked ~ .checkbox__check .checkbox__text {
      color: #ffffff; }
    .checkbox:checked ~ .checkbox__check .checkbox__icon {
      border-color: transparent;
      background: #ffffff url("../img/check.svg") no-repeat center/90% 100%; }
  .checkbox:checked ~ .checkbox__private-check .checkbox__text {
    color: #156ce4; }
  .checkbox:checked ~ .checkbox__private-check .checkbox__icon {
    border-color: transparent;
    background: url("../img/check-gray.svg") no-repeat center/100%; }
  .checkbox:checked ~ .radio__check:before {
    background: #B7BCD6; }
  .checkbox:checked ~ .card__check {
    background: url("../img/check-gray.svg") no-repeat center/100%;
    border-color: transparent; }
  .checkbox:checked ~ .mark-stage__check {
    border-color: transparent;
    background: #ffffff url("../img/check.svg") no-repeat center/90% 100%; }
  .checkbox:checked ~ .checkbox__icon-blue {
    border-color: #109CF1;
    background: url("../img/blue__check-box-empty-copy-6.svg") no-repeat center/16px; }

.radio__check {
  width: 21px;
  height: 21px;
  border: solid 1px #b7bcd6;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-left: 16px;
  cursor: pointer; }
  .radio__check:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    background: transparent;
    border-radius: 50%;
    top: 3px;
    left: 3px; }

.box-white {
  border-radius: 4px;
  -webkit-box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 0 30px 0 25px;
  margin-bottom: 15px; }
  .box-white__top {
    border-bottom: solid 1px #ebeff2;
    min-height: 56px; }
    .box-white__top-item {
      width: calc(33.33% - 34px); }

.btn {
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn p, .btn svg g, .btn span {
    display: block;
    font-size: 14px;
    color: #282e3b;
    fill: #109CF1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn.active, .btn:hover {
    background-color: #109CF1;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .btn.active p, .btn.active svg g, .btn.active span, .btn:hover p, .btn:hover svg g, .btn:hover span {
      fill: #ffffff;
      color: #ffffff; }
  .btn-text {
    margin-top: 4px; }
  .btn-aquamarine {
    min-width: 100px;
    line-height: 1;
    border-radius: 4px;
    background-color: #49ddaa;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 9px;
    text-align: center; }
    .btn-aquamarine:hover, .btn-aquamarine:focus {
      text-decoration: none;
      color: #ffffff; }
  .btn-drop {
    background: url("../img/down.svg") no-repeat right center/14px;
    width: 36px;
    height: 34px; }
  .btn-white {
    border-radius: 4px;
    border: solid 1.5px #49ddaa;
    min-width: 170px;
    text-align: center;
    line-height: 41px;
    font-weight: 500;
    color: #67758d;
    display: block; }

.close {
  width: 20px;
  height: 20px;
  opacity: 1; }

.text-13 {
  font-size: 13px;
  color: #ffffff; }

.text-14 {
  font-size: 14px;
  color: #282e3b;
  margin-bottom: 7px; }

.text-16 {
  font-size: 16px;
  color: #67758d;
  text-transform: uppercase; }

.title {
  font-size: 18px;
  color: #141515;
  text-transform: uppercase; }

.link {
  color: #156ce4;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  width: 100%;
  text-align: right;
  display: block; }

.disabled {
  opacity: 0.3;
  pointer-events: none; }
  .disabled .card__way-point:before {
    content: none; }

.container-fluid {
  padding-right: 7vw; }

.topbar {
  height: auto;
  padding: 0 7vw 0 0; }
  .topbar .nav-item .nav-link {
    height: 94px; }

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 0 23px; }

#wrapper #content-wrapper {
  width: calc(100% - 290px);
  background-color: #eff8fe; }

.sidebar {
  width: 290px; }

#sidebarToggleTop {
  position: relative;
  width: 29px;
  height: 29px;
  padding: 25px;
  z-index: 6; }
  #sidebarToggleTop.toggled {
    margin-left: -4rem; }
  #sidebarToggleTop:focus, #sidebarToggleTop.active, #sidebarToggleTop:focus {
    background: transparent; }

.sidebarToggleTop-line {
  width: 29px;
  height: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff; }

.sidebarToggleTop-top {
  top: 15px; }

.sidebarToggleTop-center {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.sidebarToggleTop-bottom {
  bottom: 15px; }

.sidebar .nav-item {
  margin-top: 19px;
  margin-right: 7px; }
  .sidebar .nav-item:nth-child(2) {
    margin-top: 43px; }

.sidebar-toggled #wrapper #content-wrapper {
  width: calc(100% - 4.5rem); }

#container-wrapper {
  height: calc(100vh - 94px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.garbage {
  width: 12px;
  height: 16px; }

.fa-print {
  color: #b7bcd6;
  font-size: 16px; }

.contents__order-no, .contents__product {
  margin: 0 -30px 0 -25px; }

.contents__transport .fields {
  margin-bottom: 44px; }

.contents__product .table__body {
  max-height: 345px; }

.table__one .table__body-item {
  padding: 25px 40px; }

.table__two .table__body-item {
  padding: 19px 40px; }

.table .garbage {
  margin-left: 22px; }

.table span {
  color: #67758d; }

.table p {
  color: #282e3b; }

.table .block__blue {
  min-width: auto;
  padding: 3px 15px;
  margin: 0 0 0 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  .table .block__blue .text-13 {
    font-size: 11px;
    color: #ffffff; }

.table__arrow {
  width: 10px;
  height: 5px;
  margin-right: 1vw;
  margin-left: 1.5vw; }
  .table__arrow.active {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }

.table__head {
  background-color: rgba(16, 156, 241, 0.1);
  padding: 20px 22px; }
  .table__head p {
    color: #141515;
    text-transform: uppercase; }

.table__body {
  max-height: 278px;
  overflow-y: auto;
  border: solid 1px rgba(183, 188, 214, 0.37); }
  .table__body .add-order-no {
    border: none !important;
    padding: 0 !important; }
  .table__body-item {
    padding: 25px 22px;
    border-bottom: solid 1px rgba(183, 188, 214, 0.37); }
    .table__body-item:last-child {
      border-bottom: none; }
  .table__body::-webkit-scrollbar {
    width: 7px; }
  .table__body::-webkit-scrollbar-thumb {
    opacity: 0.7;
    border-radius: 4px;
    background-color: #b7bcd6; }
  .table__body-icon {
    width: 21px;
    height: 18px;
    margin-left: 14px; }

.table__drop {
  display: none;
  padding: 8px 0 0 0; }
  .table__drop p {
    color: #67758d;
    margin-top: 7px; }

.table__input {
  border: none;
  width: calc(33.33% + .75rem);
  font-style: italic; }

.public .table__form {
  padding: 13px 10px;
  border: solid 1px rgba(183, 188, 214, 0.37);
  border-top: none; }
  .public .table__form .btn-aquamarine {
    min-width: auto;
    font-size: 14px;
    padding: 9px 30px;
    margin: 0; }

.card .card__select {
  margin-bottom: 0 !important; }

.first {
  padding: 25px 30px 25px 25px;
  margin-bottom: 34px;
  margin-top: 40px; }
  .first .btn {
    width: 123px;
    height: 74px;
    margin-left: 15px;
    border: solid 1px #109CF1; }
  .first__icon {
    width: 13px;
    height: 13px;
    margin-right: 15px; }

.block__blue {
  min-width: 107px;
  padding: 4px 15px 5px;
  border-radius: 12px;
  background-color: #109CF1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .block__blue-circle {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 5px; }

.orders .input {
  width: calc(100% - 21px - 16px); }

.fields {
  padding-top: 23px; }
  .fields__item {
    margin-bottom: 27px;
    width: calc(33.33% - 34px);
    margin-right: 50px; }
    .fields__item:nth-child(3n+3) {
      margin-right: 0; }
  .fields__qty {
    font-size: 15px;
    color: #ffffff;
    line-height: 42px;
    width: 100px;
    border-radius: 4px;
    background-color: #109CF1;
    text-align: center; }
    .fields__qty-input, .fields__qty-select {
      width: calc(100% - 100px);
      border-radius: 0 4px 4px 0;
      border-left: none;
      margin: 0 !important; }

.tabs {
  padding-top: 30px; }

.contents {
  padding: 30px 0 0; }
  .contents__item {
    display: none; }
    .contents__item.active {
      display: block; }
    .contents__item .fields {
      padding-left: 70px; }
    .contents__item .fields__item, .contents__item .fields__item:nth-child(3n+3) {
      width: calc(50% - 1.8vw);
      margin-right: 3.6vw;
      margin-bottom: 40px; }
      .contents__item .fields__item:nth-child(2n+2), .contents__item .fields__item:nth-child(3n+3):nth-child(2n+2) {
        margin-right: 0; }
    .contents__item .select {
      max-width: 100%;
      margin-bottom: 27px; }

.transport-mode__box {
  border: solid 1px #b7bcd6;
  border-radius: 4px;
  overflow: hidden; }

.transport-mode__item {
  width: 50%;
  height: 69px;
  border-bottom: solid 1px #b7bcd6;
  background-color: #ffffff; }
  .transport-mode__item .text-13 {
    margin-left: 10px;
    color: #37517e; }
  .transport-mode__item svg g {
    fill: #bfc5d2; }
  .transport-mode__item.active {
    background-color: #37517e;
    border-bottom: solid 1px #37517e; }
    .transport-mode__item.active .text-13 {
      color: #ffffff; }
    .transport-mode__item.active svg g {
      fill: #fff; }

.transport-mode__lcl {
  width: 30px;
  height: 19px; }

.transport-mode__container {
  padding: 17px 15px 19px; }

.contents__item .btn-aquamarine {
  line-height: 26px;
  margin-top: -13px;
  padding: 9px 42px;
  font-size: 15px;
  font-weight: 500; }

.contents__item .fields {
  padding-top: 0; }

.transport__weight-item {
  width: 25%;
  border: solid 1px #b7bcd6;
  border-right: 0;
  line-height: 41px;
  text-align: center;
  font-size: 16px;
  color: #67758d;
  cursor: pointer;
  position: relative; }
  .transport__weight-item input {
    border: none;
    padding: 10px 13px 10px 31px; }
  .transport__weight-item p {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none; }
    .transport__weight-item p.active {
      left: 15px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .transport__weight-item:first-child {
    border-radius: 4px 0 0 4px; }
  .transport__weight-item:last-child {
    border: solid 1px #b7bcd6;
    border-radius: 0 4px 4px 0; }
    .transport__weight-item:last-child.active {
      border: solid 1px #109CF1; }
  .transport__weight-item.active {
    border: solid 1px #109CF1;
    color: #ffffff;
    background: #109CF1; }

.card {
  border-left: 5px solid #109CF1;
  padding: 22px 30px 47px 30px;
  margin: 0 -23px 20px;
  -webkit-box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06); }
  .card__label {
    position: relative;
    margin-bottom: 22px; }
  .card__check {
    width: 24px;
    height: 24px;
    display: block;
    border: solid 1px #bfc5d2;
    border-radius: 4px;
    cursor: pointer; }
  .card__row {
    margin-bottom: 8px; }
  .card__item {
    width: 120px;
    border-radius: 4px;
    color: #ffffff;
    line-height: 42px;
    text-align: center;
    background: #37517e; }
  .card__blue {
    background: #109CF1; }
  .card__select {
    max-width: calc(100% - 120px) !important;
    border-radius: 0 4px 4px 0;
    margin-left: -2px;
    border-left: 0; }
  .card__field {
    width: 32%; }
    .card__field:nth-child(2) {
      width: calc(36% - 130px);
      margin: 0 65px; }
  .card__ways {
    padding: 0 115px;
    margin-top: 57px;
    margin-bottom: 30px; }
  .card__way {
    width: 33.33%; }
    .card__way:last-child .card__way-line {
      width: calc(100% - 42px); }
    .card__way:last-child img {
      padding: 0; }
    .card__way:last-child .card__way-img {
      width: 27px; }
    .card__way img {
      margin: 0 auto 23px;
      padding-left: 21px; }
    .card__way-img {
      width: 47px;
      height: 22px; }
    .card__way-boat {
      height: 22px;
      width: 39px; }
    .card__way-point {
      width: 21px;
      height: 21px;
      border: solid 1px #109CF1;
      border-radius: 50%;
      display: block;
      position: relative; }
      .card__way-point p {
        position: absolute;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        top: 100%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        left: 50%;
        padding-top: 11px; }
      .card__way-point:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 13px;
        height: 13px;
        background: #109CF1;
        border-radius: 50%;
        top: 3px;
        left: 3px; }
    .card__way-line {
      width: calc(100% - 21px);
      background-color: #37517e;
      opacity: 0.91;
      height: 4px; }

.parties .input, .orders .input {
  width: calc(100% - 37px); }

.public .btn-aquamarine {
  min-width: 170px;
  line-height: 26px;
  font-size: 15px; }

.public .nav-tabs .nav-item:first-child {
  margin-left: 0; }

.public .nav-tabs .nav-item:last-child {
  margin-right: 0; }

.public__custom-text {
  font-size: 14px;
  color: #156ce4; }

.public__custom .radio__check {
  margin-left: 10px; }

.public__custom .btn-aquamarine {
  min-width: 100px;
  line-height: 16px;
  font-size: 14px; }

.contents__transport {
  padding-bottom: 40px; }

.contents__document {
  padding: 0 10px 20px; }
  .contents__document .input {
    font-style: italic;
    color: #282e3b; }
    .contents__document .input::-webkit-input-placeholder {
      color: #282e3b; }
    .contents__document .input:-moz-placeholder {
      color: #282e3b; }
    .contents__document .input::-moz-placeholder {
      color: #282e3b; }
    .contents__document .input:-ms-input-placeholder {
      color: #282e3b; }

.notes {
  padding: 15px 25px;
  margin: 25px 0 20px; }
  .notes .text-16 {
    color: #109CF1;
    text-transform: capitalize; }
  .notes__icon {
    width: 15px;
    height: 15px;
    margin-left: 20px; }

.mark-stage {
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
  background-color: #37517e; }
  .mark-stage__text {
    text-transform: uppercase;
    color: #ffffff; }
  .mark-stage__check {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
    border: solid 1px #bfc5d2;
    border-radius: 4px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 23px; }

.saves .btn-aquamarine {
  line-height: 26px;
  font-size: 15px;
  min-width: 170px; }

.fields {
  display: none; }
  .fields.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.contents__transport .fields__two {
  padding-left: 20px; }
  .contents__transport .fields__two .fields__item {
    margin-bottom: 0; }

.fields__two .fields__item, .fields__two .fields__item:nth-child(2n+2) {
  width: calc(33.33% - 20px);
  margin-right: 30px; }
  .fields__two .fields__item:nth-child(3n+3), .fields__two .fields__item:nth-child(2n+2):nth-child(3n+3) {
    margin-right: 0;
    width: calc(33.33% - 20px); }

.fields__two .fields {
  padding-left: 25px; }

.btns .btn-aquamarine {
  margin-left: 10px;
  min-width: auto;
  width: 44px;
  height: 44px; }

.btns .garbage {
  margin: 0; }

.edit {
  width: 14px;
  height: 14px; }

.delete {
  width: 17px;
  height: 17px; }

.products .table__body {
  max-height: 100%;
  overflow: visible; }

.products__item {
  padding: 40px;
  margin-top: 60px; }

.products .table {
  margin: 0 -40px;
  width: calc(100% + 80px); }

.products .table__head {
  padding: 20px 40px; }

.products .table__body-item p input {
  max-width: 70px;
  height: auto;
  padding: 6px 10px 5px; }

.products .table__body-item .add-order-no .select {
  height: auto; }

.products .table__body-item .select__item {
  line-height: 32px;
  padding: 0 30px 0 0; }

.products .table__body-item .select__drop {
  top: calc(100% + 25px); }

.products .add-order-no {
  padding: 14px 40px;
  border: 1px solid rgba(183, 188, 214, 0.37);
  border-top: none; }

.booking .first .btn {
  margin: 0; }

.booking__box-one {
  padding: 15px 30px; }

.booking__box-input {
  max-width: 303px; }

.sea-line {
  padding-bottom: 15px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
  .container-fluid, .topbar {
    padding-right: 1.5rem; }
  .contents__item .fields {
    padding-left: 1vw; }
  .card__field:nth-child(2) {
    width: calc(36% - 6vw);
    margin: 0 3vw; }
  .fields__two .fields__item {
    width: calc(33.33% - 20px);
    margin-right: 30px; }
    .fields__two .fields__item:nth-child(3n+3) {
      margin-right: 0; }
  .nav-tabs .nav-item {
    margin: 0; } }

@media only screen and (max-width: 1199px) {
  .card__field {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__field:nth-child(2) {
    width: 100%;
    margin: 0; }
  .card__row {
    width: calc(50% - 10px);
    margin-right: 20px; }
    .card__row:nth-child(2n+2) {
      margin-right: 0; }
  .card__ways {
    padding: 0; }
  .sidebar .nav-item .nav-link {
    padding: 13px;
    font-size: 16px; }
  .sidebar {
    width: 200px; }
  .sidebar .nav-item .nav-link i {
    font-size: 16px;
    margin-right: 10px; }
  .sidebar .sidebar-brand {
    padding: 10px; }
  .sidebar .sidebar-brand .sidebar-brand-icon img {
    height: 25px; }
  .sidebar .sidebar-brand, .topbar .nav-item .nav-link {
    height: 60px; }
  #wrapper #content-wrapper {
    width: calc(100% - 200px); }
  .pills-custom .nav-link {
    padding: 10px; }
  .pills-custom .nav-link {
    width: 155px; }
  .contents__item .fields {
    padding-left: 0;
    padding-top: 30px; }
  #container-wrapper {
    height: calc(100vh - 60px); } }

@media only screen and (max-width: 991px) {
  .fields__item, .fields__item:nth-child(3n+3), .fields__two .fields__item, .fields__two .fields__item:nth-child(2n+2) {
    width: calc(50% - 10px);
    margin-right: 20px; }
    .fields__item:nth-child(2n+2), .fields__item:nth-child(3n+3):nth-child(2n+2), .fields__two .fields__item:nth-child(2n+2), .fields__two .fields__item:nth-child(2n+2):nth-child(2n+2) {
      margin-right: 0; }
  .box-white__top-item {
    width: 50%; }
  .container-fluid, .topbar {
    padding: 0 10px; }
  .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 15px !important; }
    .topbar.navbar-light .navbar-nav .nav-item .nav-link svg, .topbar.navbar-light .navbar-nav .nav-item .nav-link .nav-link-arrow {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      margin: 0; }
  .first .btn {
    margin: 15px 15px 0 0; }
  .box-white {
    padding: 0 15px; }
  .first {
    padding: 15px; }
  .nav-tabs .nav-link, .notes {
    padding: 10px 15px; }
  .card {
    margin: 0 -15px 20px; }
  .table__body, .contents__product .table__body {
    max-height: 60vh; }
  .contents__order-no, .contents__product {
    margin: 0 -16px; }
  .table__drop {
    margin-top: 10px;
    border-top: solid 1px rgba(183, 188, 214, 0.37); }
  .table .garbage {
    margin-left: 15px; }
  .contents__item .fields__item, .contents__item .fields__item:nth-child(3n+3) {
    width: calc(50% - 10px);
    margin-right: 20px; }
  .contents__item .fields__item:nth-child(2n+2) {
    margin-right: 0; }
  .table__drop p {
    color: #282e3b; }
  .table__arrow {
    margin-right: 0; }
  .products__item {
    padding: 25px 15px; }
  .products .table__body-item .select__drop {
    top: 100%; }
  .products .table {
    margin: 0 -15px;
    width: calc(100% + 30px); } }

@media only screen and (max-width: 768px) {
  .box-white__top-item {
    width: auto; }
  #wrapper #content-wrapper {
    width: 100%; }
  #sidebarToggleTop.toggled {
    margin: 0; }
    #sidebarToggleTop.toggled .sidebarToggleTop-top {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(225deg);
              transform: translate(-50%, -50%) rotate(225deg); }
    #sidebarToggleTop.toggled .sidebarToggleTop-center {
      opacity: 0; }
    #sidebarToggleTop.toggled .sidebarToggleTop-bottom {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-225deg);
              transform: translate(-50%, -50%) rotate(-225deg); }
  .card__item {
    width: 100px;
    font-size: 14px; }
  .card__select {
    max-width: calc(100% - 100px) !important; }
  .block__blue {
    margin-left: 30px; }
  .table .block__blue {
    margin: 0 10px; }
  .table p {
    font-size: 14px; }
  .sidebar.toggled .nav-item .nav-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .booking__box-input {
    max-width: 100%; } }

@media only screen and (max-width: 575px) {
  .pills-custom .nav-link {
    padding: 10px 20px;
    width: auto; }
  .fields__item {
    width: 100% !important;
    margin: 0 0 25px !important; }
  .card__row {
    width: 100%;
    margin: 0 0 10px; }
  .card {
    padding: 15px; }
  .nav-tabs {
    width: 100%; }
    .nav-tabs .nav-item {
      width: 50%;
      text-align: center; }
  .box-white__top {
    padding: 10px 0; }
  .block__blue {
    margin: 10px 0 0 0; }
  .parties .btn-aquamarine {
    max-height: 30px; }
  .card__way {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .card__way-line, .card__way:last-child .card__way-line {
    width: 50px; }
  .saves .btn-aquamarine, .saves .btn-white {
    min-width: auto;
    width: 45%;
    margin: 0 !important; }
  .sidebar.toggled {
    width: 100vw !important; }
  .sidebar-toggled .overlay {
    opacity: 1;
    pointer-events: auto; }
  .btn-drop {
    height: 30px; }
  .table__input {
    width: 100%; }
  .public .table__form .btn-aquamarine {
    margin: 20px 0 0 10px; }
  .public .btn-aquamarine {
    margin: 0; }
  .transport__weight-item input {
    padding: 10px 13px 10px 25px; }
  .transport__weight-item p.active {
    left: 9px; } }
