@media print {
    body {
        -webkit-print-color-adjust: exact;
        font-size: 13px;
        font-weight: 200;
    }

    p {
        color: #2F6E95 !important;
    }

    #image {
        width: 1137px;
        height: 803px;
        background-image: url("https://libertyjobs.com/admin/images/sale-card-bg2.png")!important;
        background-repeat: no-repeat !important;
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .center {
        padding-top: 260px;
    }

    .black {
        color: black
    }

    .info {
        color: #000 !important;
        font-size: 14px;
    }

    .centered {
        text-align: center !important;
        padding-top: 40px;
    }

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
}