<div class="breadcrumbs">
    <ul class="nav nav-pills pills-custom">
        <li class="nav-item">
            <a class="nav-link active" href="#"><span></span><img src="img/check-white.svg" alt="check" class="nav-icon">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link focus" href="#">Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Trucking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Loading</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Documents</a>
        </li>
    </ul>
</div>