<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
	<a class="sidebar-brand d-flex align-items-center justify-content-between border-right" href="#">
		<div class="sidebar-brand-icon">
			<img src="img/logo/logo.png"
				 srcset="img/logo/logo@2x.png 2x,
             img/logo/logo@3x.png 3x"
				 class="logo">
		</div>
	</a>
	<hr class="sidebar-divider my-0">
	<li class="nav-item active">
		<a class="nav-link" href="#">
			<i class="fab fa-fw fa-wpforms"></i>
			<span>Orders</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fas fa-fw fa-palette"></i>
			<span>Transport Rate</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fab fa-fw fa-wpforms"></i>
			<span>Rates</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fas fa-fw fa-palette"></i>
			<span>Bookings</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fab fa-fw fa-wpforms"></i>
			<span>Track & Trace</span>
		</a>
	</li>
</ul>
<!-- Sidebar -->