
<div class="popup">
    <div class="box-white py-4 px-lg-5">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <h2 class="title-2 mb-4">Invoice 2020/000260</h2>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Customer</p>
                <div class="select">
                    <div class="select__item">Order P20-0140-KRPU 8/1</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option">Order P20-0140-KRPU 8/1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center px-xl-5">
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Date</p>
                <input type="text" class="input" value="12.02.2020">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Invoice Number</p>
                <input type="text" class="input" value="2020/000260">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Amount</p>
                <input type="text" class="input" value="42986.40">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Currency</p>
                <input type="text" class="input" value="EUR">
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Packing</p>
                <div class="select">
                    <div class="select__item">Pakages</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option">Pakages</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Origin</p>
                <input type="text" class="input" value="Rucava, LV">
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Destination</p>
                <input type="text" class="input" value="Busan, KR">
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center loading__btns">
            <button type="button" class="btn-white my-sm-4 my-2 mx-sm-3">Upload Packing list</button>
            <button type="button" class="btn-aquamarine my-sm-4 my-2 mx-sm-3">Generate Packing list</button>
            <button type="button" class="btn-disabled my-sm-4 my-2 mx-sm-3">Save</button>
        </div>
    </div>
    <div class="box-white py-4 px-lg-5">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <h2 class="title-2 mb-4">Invoice 2020/000260</h2>
        <div class="row justify-content-center">
            <div class="col-md-5 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Customer</p>
                <div class="select">
                    <div class="select__item">Order P20-0140-KRPU 8/1</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option">Order P20-0140-KRPU 8/1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center px-xl-5">
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Date</p>
                <input type="text" class="input" value="12.02.2020">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Invoice Number</p>
                <input type="text" class="input" value="2020/000260">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Amount</p>
                <input type="text" class="input" value="42986.40">
            </div>
            <div class="col-md-3 col-sm-6 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Currency</p>
                <input type="text" class="input" value="EUR">
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Packing</p>
                <div class="select">
                    <div class="select__item">Pakages</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option">Pakages</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Origin</p>
                <input type="text" class="input" value="Rucava, LV">
            </div>
            <div class="col-sm-4 mt-1 mb-sm-5 mb-4">
                <p class="text-14">Destination</p>
                <input type="text" class="input" value="Busan, KR">
            </div>
            <div class="col-12">
                <div class="bg-light-blue d-flex justify-content-center align-items-center mb-3 loading__file">
                    <p class="title">Packing List_67757897.pdf</p>
                    <img src="img/cancel.svg" alt="delete" class="loading__file-icon">
                </div>
            </div>
            <button type="button" class="btn-aquamarine big mt-4">Save</button>
        </div>
    </div>
    <div class="box-white p-3">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <label for="files" class="loader__files-drop d-flex justify-content-center align-items-center">
            Drop file here
            <input type="file" id="files" name="files[]" multiple>
        </label>
        <div class="d-flex justify-content-center align-items-center my-3 loading__file">
            <p class="title loader__files-name">Packing List_67757897.pdf</p>
            <img src="img/cancel.svg" alt="delete" class="loading__file-icon">
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn-aquamarine big">Save</button>
        </div>
    </div>

    <div class="popup__loading box-white py-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <div class="popup__loading-top d-flex justify-content-between align-items-sm-center align-items-end mb-5">
            <div class="bg-light">
                <p>ORDER <br>
                    P20-0140-KRPU 8/1 </p>
            </div>
            <div class="btns d-flex flex-sm-row flex-column justify-content-end">
                <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                    <img src="img/white__create-24-px.svg" alt="edit" class="edit">
                </a>
                <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center mt-sm-0 mt-1">
                    <img src="img/white-bin.svg" alt="garbage" class="garbage">
                </a>
            </div>
        </div>
        <div class="row justify-content-lg-between">
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                <p class="text-14">Truck</p>
                <input type="text" class="input" value="LHY336/CC372">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                <p class="text-14">Container</p>
                <input type="text" class="input" value="LHY336/CC372">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                <p class="text-14">Tara weight</p>
                <input type="text" class="input" value="3333">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                <p class="text-14">Seal</p>
                <input type="text" class="input" value="LHY336/CC372">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                <p class="text-14">Total weight</p>
                <input type="text" class="input" value="555">
            </div>
        </div>
        <div class="loading__card my-4">
            <div class="row py-4">
                <div class="col-md-6">
                    <h3 class="title loading__card-title d-flex align-items-center">QTS 0-20 White Peat, WA, pH 5.5-6.0 (H2O), NPK 0.8kg </h3>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end justify-content-between mt-md-0 mt-3">
                    <div class="loading__card-col">
                        <p class="text-11-blue">Batch No</p>
                        <input type="text" value="6778736182">
                    </div>
                    <div class="loading__card-col ml-sm-5 ml-2">
                        <p class="text-11-blue">Product code</p>
                        <input type="text" value="QWE8686E">
                    </div>
                </div>
            </div>
            <div class="loading__card-light">
                <div class="row justify-content-lg-between pt-2 pb-4">
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Quantity</p>
                        <input type="text" value="180">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">In packages</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">On Pallets </p>
                        <input type="text" value="330">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Pallets type</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Total weight </p>
                        <input type="text" value="330">
                    </div>
                </div>
            </div>
        </div>
        <div class="loading__card my-4">
            <div class="row py-4">
                <div class="col-md-6">
                    <h3 class="title loading__card-title d-flex align-items-center">QTS 0-20 White Peat, WA, pH 5.5-6.0 (H2O), NPK 0.8kg </h3>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end justify-content-between mt-md-0 mt-3">
                    <div class="loading__card-col">
                        <p class="text-11-blue">Batch No</p>
                        <input type="text" value="6778736182">
                    </div>
                    <div class="loading__card-col ml-sm-5 ml-2">
                        <p class="text-11-blue">Product code</p>
                        <input type="text" value="QWE8686E">
                    </div>
                </div>
            </div>
            <div class="loading__card-light">
                <div class="row justify-content-lg-between pt-2 pb-4">
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Quantity</p>
                        <input type="text" value="180">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">In packages</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">On Pallets </p>
                        <input type="text" value="330">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Pallets type</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Total weight </p>
                        <input type="text" value="330">
                    </div>
                </div>
            </div>
        </div>
        <div class="loading__card my-4">
            <div class="row py-4">
                <div class="col-md-6">
                    <h3 class="title loading__card-title d-flex align-items-center">QTS 0-20 White Peat, WA, pH 5.5-6.0 (H2O), NPK 0.8kg </h3>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end justify-content-between mt-md-0 mt-3">
                    <div class="loading__card-col">
                        <p class="text-11-blue">Batch No</p>
                        <input type="text" value="6778736182">
                    </div>
                    <div class="loading__card-col ml-sm-5 ml-2">
                        <p class="text-11-blue">Product code</p>
                        <input type="text" value="QWE8686E">
                    </div>
                </div>
            </div>
            <div class="loading__card-light">
                <div class="row justify-content-lg-between pt-2 pb-4">
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Quantity</p>
                        <input type="text" value="180">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">In packages</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">On Pallets </p>
                        <input type="text" value="330">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Pallets type</p>
                        <div class="select">
                            <div class="select__item">HT</div>
                            <div class="select__drop">
                                <ul class="select__menu">
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                    <li class="select__option">HT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 my-3">
                        <p class="text-14">Total weight </p>
                        <input type="text" value="330">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mt-4">
            <button type="button" class="btn-white big mx-3 mt-3">Add product </button>
            <button type="button" class="btn-aquamarine big mx-3 mt-3">Save</button>
        </div>
    </div>

    <div class="products box-white py-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <div class="btns d-flex justify-content-end">
            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                <img src="img/white__create-24-px.svg" alt="edit" class="edit">
            </a>
            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                <img src="img/white-bin.svg" alt="garbage" class="garbage">
            </a>
            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                <img src="img/white__cancel.svg" alt="delete" class="delete">
            </a>
        </div>
        <div class="row mt-4 justify-content-between">
            <div class="col-sm-6 col-12 mb-4 mt-1">
                <p class="text-14">Product description</p>
                <input type="text" class="input" value="White natural peat 0-10 mm (milled)">
            </div>
            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                <p class="text-14">Packaging</p>
                <input type="text" class="input" value="790 LTR">
            </div>
            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="79.80">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Currency</p>
                <div class="select">
                    <div class="select__item">EUR</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option active">EUR</li>
                            <li class="select__option">RUB</li>
                            <li class="select__option">UAH</li>
                            <li class="select__option">USA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="79.80">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="79.80">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="79.80">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Currency</p>
                <div class="select">
                    <div class="select__item">EUR</div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option active">EUR</li>
                            <li class="select__option">RUB</li>
                            <li class="select__option">UAH</li>
                            <li class="select__option">USA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">HS Code</p>
                <input type="text" class="input" value="270300">
            </div>
        </div>
        <div class="table table__one mt-5">
            <div class="table__head d-none d-lg-block">
                <div class="row justify-content-between">
                    <div class="col-4"><p>ORDER NO</p></div>
                    <div class="col-2"><p>ON PALLET</p></div>
                    <div class="col-2"><p>PALLETS</p></div>
                    <div class="col-2"><p>QUATITY</p></div>
                    <div class="col-1"><p>ACTIONS</p></div>
                </div>
            </div>
            <ul class="table__body">
                <li class="table__body-item">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-12">
                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                        </div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                        <div class="col-lg-1 col-6">
                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                            <div class="d-flex">
                                <a href="#"> <i class="fa fa-print"></i></a>
                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="table__body-item">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-12">
                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                        </div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                        <div class="col-lg-1 col-6">
                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                            <div class="d-flex">
                                <a href="#"> <i class="fa fa-print"></i></a>
                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="table__body-item">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-12">
                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                        </div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                        <div class="col-lg-1 col-6">
                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                            <div class="d-flex">
                                <a href="#"> <i class="fa fa-print"></i></a>
                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="table__body-item">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-12">
                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                        </div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                        <div class="col-lg-1 col-6">
                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                            <div class="d-flex">
                                <a href="#"> <i class="fa fa-print"></i></a>
                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="add-order-no">
                <div class="select">
                    <div class="select__item"> + Add Order no </div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option active">P20-77848214-8483883</li>
                            <li class="select__option ">P20-77848214-8483883</li>
                            <li class="select__option ">P20-77848214-8483883</li>
                            <li class="select__option ">P20-77848214-8483883</li>
                            <li class="select__option ">P20-77848214-8483883</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-4 saves">
            <a href="#" class="btn-aquamarine">Save </a>
        </div>
    </div>
    <div class="products box-white py-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="#" class="close">
                <img src="img/gray__cancel.svg" alt="close">
            </a>
        </div>
        <div class="row justify-content-between mt-4">
            <div class="col-sm-6 col-12 mb-4 mt-1">
                <p class="text-14">Product description</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                <p class="text-14">Packaging</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Currency</p>
                <div class="select">
                    <div class="select__item"></div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option active">EUR</li>
                            <li class="select__option">RUB</li>
                            <li class="select__option">UAH</li>
                            <li class="select__option">USA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Price</p>
                <input type="text" class="input" value="">
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">Currency</p>
                <div class="select">
                    <div class="select__item"></div>
                    <div class="select__drop">
                        <ul class="select__menu">
                            <li class="select__option active">EUR</li>
                            <li class="select__option">RUB</li>
                            <li class="select__option">UAH</li>
                            <li class="select__option">USA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                <p class="text-14">HS Code</p>
                <input type="text" class="input" value="">
            </div>
        </div>
        <div class="table table__two mt-5">
            <div class="table__head d-none d-lg-block">
                <div class="row justify-content-between">
                    <div class="col-4"><p>ORDER NO</p></div>
                    <div class="col-2"><p>ON PALLET</p></div>
                    <div class="col-2"><p>PALLETS</p></div>
                    <div class="col-2"><p>QUATITY</p></div>
                    <div class="col-1"><p>ACTIONS</p></div>
                </div>
            </div>
            <ul class="table__body">
                <li class="table__body-item">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-12">
                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span></p>
                            <div class="add-order-no">
                                <div class="select">
                                    <div class="select__item"> + Add Order no </div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span><input type="text"></p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span><input type="text"></p></div>
                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span><input type="text"></p></div>
                        <div class="col-lg-1 col-6"></div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="d-flex justify-content-center mt-5 saves">
            <a href="#" class="btn-aquamarine">Save </a>
        </div>
    </div>
</div>