<!-- Sidebar -->
<nav class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <div class="sidebar-brand d-flex align-items-center justify-content-between border-right">
        <a href="#" class="sidebar-brand-icon">
            <img src="img/logo/logo.png" srcset="img/logo/logo@2x.png 2x, img/logo/logo@3x.png 3x" alt="logo" class="logo">
        </a>
        <button id="sidebarToggleTop" class="">
            <span class="sidebarToggleTop-line sidebarToggleTop-top"></span>
            <span class="sidebarToggleTop-line sidebarToggleTop-center"></span>
            <span class="sidebarToggleTop-line sidebarToggleTop-bottom"></span>
        </button>
    </div>
    <ul class="sidebar-menu">
        <li class="nav-item active">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                    <img src="img/sidebar/supermarket-1.svg" alt="icon" class="nav-link-img" width="17" height="18">
                </span>
                <span class="nav-item-name">Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                    <img src="img/sidebar/truck.svg" alt="icon" class="nav-link-img" width="17" height="13">
                </span>
                <span class="nav-item-name">Transport Rate</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                    <img src="img/sidebar/graph.svg" alt="icon" class="nav-link-img" width="16" height="17">
                </span>
                <span class="nav-item-name">Rates</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/calendar.svg" alt="icon">
                </span>
                <span class="nav-item-name">Bookings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                    <img src="img/sidebar/placeholder.svg" alt="icon">
                </span>
                <span class="nav-item-name">Track & Trace</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/template.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Templates</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/work.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Companies</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" data-toggle="collapse" href="#collapseCompany" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="nav-link-img">
                    <img src="img/sidebar/user-1.svg" alt="icon">
                </span>
                <span class="nav-item-name">My company</span>
            </a>
            <ul class="collapse" id="collapseCompany">
                <li class="collapse-item">
                    <a class="collapse-link" href="#">Departments</a>
                </li>
                <li class="collapse-item">
                    <a class="collapse-link" href="#">Detail</a>
                </li>
                <li class="collapse-item">
                    <a class="collapse-link" href="#">Ports</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" data-toggle="collapse" href="#collapseAccess" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="nav-link-img">
                    <img src="img/sidebar/door.svg" alt="icon">
                </span>
                <span class="nav-item-name">Access</span>
            </a>
            <ul class="collapse" id="collapseAccess">
                <li class="collapse-item">
                    <a class="collapse-link" href="#">Access</a>
                </li>
                <li class="collapse-item">
                    <a class="collapse-link" href="#">Detail</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/back-up.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Backup</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/speech-bubble.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/document.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Quotes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link w-100 d-flex align-items-center" href="#">
                <span class="nav-link-img">
                     <img src="img/sidebar/cost.svg" alt="icon" class="nav-link-img">
                </span>
                <span class="nav-item-name">Requests</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Sidebar -->