<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid" id="container-wrapper">
                <div id="box">
                    @import "breadcrumbs.html"
                    <div class="products box-white">
                        <div class="btns d-flex justify-content-end">
                            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                                <img src="img/white__create-24-px.svg" alt="edit" class="edit">
                            </a>
                            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                                <img src="img/white-bin.svg" alt="garbage" class="garbage">
                            </a>
                            <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                                <img src="img/white__cancel.svg" alt="delete" class="delete">
                            </a>
                        </div>
                        <div class="row mt-4 justify-content-between">
                            <div class="col-sm-6 col-12 mb-4 mt-1">
                                <p class="text-14">Product description</p>
                                <input type="text" class="input" value="White natural peat 0-10 mm (milled)">
                            </div>
                            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                                <p class="text-14">Packaging</p>
                                <input type="text" class="input" value="790 LTR">
                            </div>
                            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="79.80">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Currency</p>
                                <div class="select">
                                    <div class="select__item">EUR</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">EUR</li>
                                            <li class="select__option">RUB</li>
                                            <li class="select__option">UAH</li>
                                            <li class="select__option">USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="79.80">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="79.80">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="79.80">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Currency</p>
                                <div class="select">
                                    <div class="select__item">EUR</div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">EUR</li>
                                            <li class="select__option">RUB</li>
                                            <li class="select__option">UAH</li>
                                            <li class="select__option">USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">HS Code</p>
                                <input type="text" class="input" value="270300">
                            </div>
                        </div>
                        <div class="table table__one mt-5">
                            <div class="table__head d-none d-lg-block">
                                <div class="row justify-content-between">
                                    <div class="col-4"><p>ORDER NO</p></div>
                                    <div class="col-2"><p>ON PALLET</p></div>
                                    <div class="col-2"><p>PALLETS</p></div>
                                    <div class="col-2"><p>QUATITY</p></div>
                                    <div class="col-1"><p>ACTIONS</p></div>
                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4 col-12">
                                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                                        </div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                                        <div class="col-lg-1 col-6">
                                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                                            <div class="d-flex">
                                                <a href="#"> <img src="img/print.svg" alt="print" class="print"></a>
                                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4 col-12">
                                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                                        </div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                                        <div class="col-lg-1 col-6">
                                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                                            <div class="d-flex">
                                                <a href="#"> <img src="img/print.svg" alt="print" class="print"></a>
                                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4 col-12">
                                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                                        </div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                                        <div class="col-lg-1 col-6">
                                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                                            <div class="d-flex">
                                                <a href="#"> <img src="img/print.svg" alt="print" class="print"></a>
                                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="table__body-item">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4 col-12">
                                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span>P20-653878568-787923798</p>
                                        </div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span>20</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span>45 HT</p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span>180</p></div>
                                        <div class="col-lg-1 col-6">
                                            <p><span class="d-lg-none d-flex mb-2 mt-3">ACTION:</span></p>
                                            <div class="d-flex">
                                                <a href="#"> <img src="img/print.svg" alt="print" class="print"></a>
                                                <a href="#"> <img src="img/bin.svg" alt="garbage" class="garbage"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="add-order-no">
                                <div class="select">
                                    <div class="select__item"> + Add Order no </div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                            <li class="select__option ">P20-77848214-8483883</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-4 saves">
                            <a href="#" class="btn-aquamarine">Save </a>
                        </div>
                    </div>
                    <div class="products box-white mb-5">
                        <div class="d-flex justify-content-end mb-2">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <div class="row justify-content-between mt-4">
                            <div class="col-sm-6 col-12 mb-4 mt-1">
                                <p class="text-14">Product description</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                                <p class="text-14">Packaging</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-3 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Currency</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">EUR</li>
                                            <li class="select__option">RUB</li>
                                            <li class="select__option">UAH</li>
                                            <li class="select__option">USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Price</p>
                                <input type="text" class="input" value="">
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">Currency</p>
                                <div class="select">
                                    <div class="select__item"></div>
                                    <div class="select__drop">
                                        <ul class="select__menu">
                                            <li class="select__option active">EUR</li>
                                            <li class="select__option">RUB</li>
                                            <li class="select__option">UAH</li>
                                            <li class="select__option">USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-6 mb-4 mt-1">
                                <p class="text-14">HS Code</p>
                                <input type="text" class="input" value="">
                            </div>
                        </div>
                        <div class="table table__two mt-5">
                            <div class="table__head d-none d-lg-block">
                                <div class="row justify-content-between">
                                    <div class="col-4"><p>ORDER NO</p></div>
                                    <div class="col-2"><p>ON PALLET</p></div>
                                    <div class="col-2"><p>PALLETS</p></div>
                                    <div class="col-2"><p>QUATITY</p></div>
                                    <div class="col-1"><p>ACTIONS</p></div>
                                </div>
                            </div>
                            <ul class="table__body">
                                <li class="table__body-item">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-4 col-12">
                                            <p><span class="d-lg-none d-flex mb-2">ORDER NO:</span></p>
                                            <div class="add-order-no">
                                                <div class="select">
                                                    <div class="select__item"> + Add Order no </div>
                                                    <div class="select__drop">
                                                        <ul class="select__menu">
                                                            <li class="select__option active">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                            <li class="select__option ">P20-77848214-8483883</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">ON PALLET:</span><input type="text"></p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3">PALLETS:</span><input type="text"></p></div>
                                        <div class="col-lg-2 col-6"><p><span class="d-lg-none d-flex mb-2 mt-3 ">QUANTITY:</span><input type="text"></p></div>
                                        <div class="col-lg-1 col-6"></div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="d-flex justify-content-center mt-5 saves">
                            <a href="#" class="btn-aquamarine">Save </a>
                        </div>
                    </div>
                </div>

                @import "popups.html"
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>