<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper">
                <div id="box">
                    <div class="sticky">
                        @import "breadcrumbs.html"
                    </div>
                </div>

               <div class="popup">
                   <div class="box-white popup__loading py-4 active">
                       <div class="d-flex justify-content-end mb-3">
                           <a href="#" class="close">
                               <img src="img/gray__cancel.svg" alt="close">
                           </a>
                       </div>
                       <div class="popup__loading-top d-flex justify-content-between align-items-sm-center align-items-end mb-5">
                           <div class="bg-light">
                               <p>ORDER <br>
                                   P20-0140-KRPU 8/1 </p>
                           </div>
                           <div class="btns d-flex flex-sm-row flex-column justify-content-end">
                               <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center">
                                   <img src="img/white__create-24-px.svg" alt="edit" class="edit">
                               </a>
                               <a href="#" class="btn-aquamarine d-flex justify-content-center align-items-center mt-sm-0 mt-1">
                                   <img src="img/white-bin.svg" alt="garbage" class="garbage">
                               </a>
                           </div>
                       </div>
                       <div class="row justify-content-lg-between">
                           <div class="col-lg-2 col-md-4 col-sm-6 mb-3 ">
                               <p class="text-14">Truck</p>
                               <input type="text" class="input" value="LHY336/CC372">
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                               <p class="text-14">Container</p>
                               <input type="text" class="input" value="LHY336/CC372">
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                               <p class="text-14">Tara weight</p>
                               <input type="text" class="input" value="3333">
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                               <p class="text-14">Seal</p>
                               <input type="text" class="input" value="LHY336/CC372">
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
                               <p class="text-14">Total weight</p>
                               <input type="text" class="input" value="555">
                           </div>
                       </div>
                       <div class="table table_v2 mt-5">
                           <div class="table__head d-none d-lg-block">
                               <div class="row align-items-center">
                                   <div class="col-4"><p>PRODUCT</p></div>
                                   <div class="col-3">
                                       <p>PACKAGE</p>
                                       <p>SET ON PALLET</p>
                                   </div>
                                   <div class="col-3">
                                       <p>PALLET TYPE</p>
                                       <p>NUMBER</p>
                                   </div>
                                   <div class="col-2">
                                       <p>WEIGHT</p>
                                       <p>QUANTITY</p>
                                   </div>
                               </div>
                           </div>
                           <ul class="table__body">
                               <li class="table__body-item">
                                   <div class="row">
                                       <div class="col-sm-4 my-lg-0 my-2">
                                           <p><span class="d-lg-none d-flex my-2">PRODUCT:</span></p>
                                           <label class="d-flex my-2">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue mr-3 ml-0"></span>
                                               <span class="text-14 c-dark">1. P20-0140-KRP6367772U 8/1</span>
                                           </label>
                                           <div class="d-flex flex-wrap">
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Batch No</div>
                                                   <input type="text" value="6778736">
                                               </div>
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Product code</div>
                                                   <input type="text" value="QW868">
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PACKAGE:</span>Big bale 5.0 m3</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">SET ON PALLET:</span>On pallet 15</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PALLET TYPE:</span>Heat reated</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">NUMBER:</span>Pallet  35</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-2 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">WEIGHT:</span>Big bales 330</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">QUANTITY:</span>24500 kg</p></div>
                                           </div>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item">
                                   <div class="row">
                                       <div class="col-sm-4 my-lg-0 my-2">
                                           <p><span class="d-lg-none d-flex my-2">PRODUCT:</span></p>
                                           <label class="d-flex my-2">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue mr-3 ml-0"></span>
                                               <span class="text-14 c-dark">1. P20-0140-KRP6367772U 8/1</span>
                                           </label>
                                           <div class="d-flex flex-wrap">
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Batch No</div>
                                                   <input type="text" value="6778736">
                                               </div>
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Product code</div>
                                                   <input type="text" value="QW868">
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PACKAGE:</span>Big bale 5.0 m3</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">SET ON PALLET:</span>On pallet 15</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PALLET TYPE:</span>Heat reated</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">NUMBER:</span>Pallet  35</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-2 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">WEIGHT:</span>Big bales 330</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">QUANTITY:</span>24500 kg</p></div>
                                           </div>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item">
                                   <div class="row">
                                       <div class="col-sm-4 my-lg-0 my-2">
                                           <p><span class="d-lg-none d-flex my-2">PRODUCT:</span></p>
                                           <label class="d-flex my-2">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue mr-3 ml-0"></span>
                                               <span class="text-14 c-dark">1. P20-0140-KRP6367772U 8/1</span>
                                           </label>
                                           <div class="d-flex flex-wrap">
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Batch No</div>
                                                   <input type="text" value="6778736">
                                               </div>
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Product code</div>
                                                   <input type="text" value="QW868">
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PACKAGE:</span>Big bale 5.0 m3</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">SET ON PALLET:</span>On pallet 15</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">PALLET TYPE:</span>Heat reated</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">NUMBER:</span>Pallet  35</p></div>
                                           </div>
                                       </div>
                                       <div class="col-sm-2 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">WEIGHT:</span>Big bales 330</p></div>
                                               <div class="col-sm-12 col-6"><p class="mt-2"><span class="d-lg-none d-flex mb-2">QUANTITY:</span>24500 kg</p></div>
                                           </div>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item">
                                   <div class="row">
                                       <div class="col-sm-4 my-lg-0 my-2">
                                           <p><span class="d-lg-none d-flex my-2">PRODUCT:</span></p>
                                           <label class="d-flex my-2">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue mr-3 ml-0"></span>
                                               <span class="text-14 c-dark">1. P20-0140-KRP6367772U 8/1</span>
                                           </label>
                                           <div class="d-flex flex-wrap">
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Batch No</div>
                                                   <input type="text" value="">
                                               </div>
                                               <div class="d-flex loading__info-col align-items-end">
                                                   <div class="text-11-blue">Product code</div>
                                                   <input type="text" value="">
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">PACKAGE:</span></p>
                                                       <div class="select select__two mt-2">
                                                           <div class="select__item text-14 c-gray">PACKAGE</div>
                                                           <div class="select__drop">
                                                               <ul class="select__menu">
                                                                   <li class="select__option">Big bale 5.0 m3</li>
                                                                   <li class="select__option">Big bale 2.0 m3</li>
                                                                   <li class="select__option">Big bale 8.0 m3</li>
                                                                   <li class="select__option">Big bale 7.0 m3</li>
                                                                   <li class="select__option">Big bale 12.0 m3</li>
                                                               </ul>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">SET ON PALLET:</span></p>
                                                       <input type="text" class="input-gray" value="SET ON PALLET">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-3 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">PALLET TYPE:</span></p>
                                                       <div class="select select__two mt-2">
                                                           <div class="select__item text-14 c-gray">PALLET TYPE</div>
                                                           <div class="select__drop">
                                                               <ul class="select__menu">
                                                                   <li class="select__option"></li>
                                                               </ul>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">NUMBER:</span></p>
                                                       <input type="text" class="input-gray" value="NUMBER">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-2 my-lg-0 my-2">
                                           <div class="row justify-content-between h-100">
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">WEIGHT:</span></p>
                                                       <input type="text" class="input-gray" value="WEIGHT">
                                                   </div>
                                               </div>
                                               <div class="col-sm-12 col-6">
                                                   <div class="mt-2">
                                                       <p><span class="d-lg-none d-flex mb-2">QUANTITY:</span></p>
                                                       <input type="text" class="input-gray" value="QUANTITY">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item">
                                   <div class="row">
                                       <div class="col-sm-4 my-lg-0 my-2">
                                           <div class="select select__add">
                                               <div class="select__item">+ Add a new product</div>
                                               <div class="select__drop">
                                                   <ul class="select__menu">
                                                       <li class="select__option active">P20-77848214-8483883</li>
                                                       <li class="select__option ">P20-77848214-8483883</li>
                                                       <li class="select__option ">P20-77848214-8483883</li>
                                                       <li class="select__option ">P20-77848214-8483883</li>
                                                       <li class="select__option ">P20-77848214-8483883</li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </li>
                           </ul>
                       </div>
                       <div class="d-flex flex-wrap justify-content-center my-4">
                           <button type="button" class="btn-aquamarine big mx-3 mt-3">Save</button>
                       </div>
                   </div>
               </div>

            </div>
            <!---Container-->

        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>