<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper">
                <div id="box">
                    <div class="sticky">
                        @import "breadcrumbs.html"
                    </div>
                </div>

               <div class="popup">
                   <div class="box-white popup__max-width py-4 active">
                       <div class="d-flex justify-content-end mb-3">
                           <a href="#" class="close">
                               <img src="img/gray__cancel.svg" alt="close">
                           </a>
                       </div>
                       <h2 class="title-2">Merge orders</h2>
                       <div class="table table__merge mt-4 pt-3">
                           <div class="table__head py-4 px-md-5">
                               <div class="row">
                                   <div class="col-md-9 col-6"><p>ORDER NO</p></div>
                                   <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end"><p>MAIN ORDER</p></div>
                               </div>
                           </div>
                           <ul class="table__body">
                               <li class="table__body-item py-4 px-md-5">
                                   <div class="row">
                                       <div class="col-md-9 col-6"><p>W19 - OR0269 - 5x40'HС</p></div>
                                       <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end">
                                           <label class="mx-4 px-1">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue ml-0"></span>
                                           </label>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item py-4 px-md-5">
                                   <div class="row">
                                       <div class="col-md-9 col-6"><p>W19 - OR0269 - 5x40'HС</p></div>
                                       <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end">
                                           <label class="mx-4 px-1">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue ml-0"></span>
                                           </label>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item py-4 px-md-5">
                                   <div class="row">
                                       <div class="col-md-9 col-6"><p>W19 - OR0269 - 5x40'HС</p></div>
                                       <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end">
                                           <label class="mx-4 px-1">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue ml-0"></span>
                                           </label>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item py-4 px-md-5">
                                   <div class="row">
                                       <div class="col-md-9 col-6"><p>W19 - OR0269 - 5x40'HС</p></div>
                                       <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end">
                                           <label class="mx-4 px-1">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue ml-0"></span>
                                           </label>
                                       </div>
                                   </div>
                               </li>
                               <li class="table__body-item py-4 px-md-5">
                                   <div class="row">
                                       <div class="col-md-9 col-6"><p>W19 - OR0269 - 5x40'HС</p></div>
                                       <div class="col-md-3 col-6 d-flex justify-content-md-center justify-content-end">
                                           <label class="mx-4 px-1">
                                               <input type="checkbox" class="checkbox">
                                               <span class="checkbox__icon-blue ml-0"></span>
                                           </label>
                                       </div>
                                   </div>
                               </li>

                           </ul>
                       </div>
                       <div class="d-flex justify-content-md-center justify-content-between saves mt-5 mb-4">
                           <button type="button" class="btn-white mx-2">Remove all</button>
                           <button type="button" class="btn-aquamarine mx-2">Merge</button>
                       </div>
                   </div>
               </div>

            </div>
            <!---Container-->

        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>