<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper">
                <div id="box">
                    <div class="sticky">
                        @import "breadcrumbs.html"
                    </div>
                </div>

               <div class="popup">
                   <div class="box-white popup__max-width py-4 active">
                       <div class="d-flex justify-content-end mb-3">
                           <a href="#" class="close">
                               <img src="img/gray__cancel.svg" alt="close">
                           </a>
                       </div>
                       <div class="row justify-content-center py-4">
                           <div class="col-md-6">
                               <h2 class="title-2">Export orders</h2>
                               <p class="text-14 mt-4">Document No</p>
                               <div class="select m-0">
                                   <div class="select__item">Order P20-0140-KRPU 8/1</div>
                                   <div class="select__drop">
                                       <ul class="select__menu">
                                           <li class="select__option active">Order P20-0140-KRPU 8/1</li>
                                           <li class="select__option ">Order P20-0140-KRPU 8/2</li>
                                       </ul>
                                   </div>
                               </div>

                               <div class="d-flex justify-content-center saves my-4 pt-3">
                                   <button type="button" class="btn-aquamarine mx-2">Export</button>
                               </div>
                           </div>
                       </div>

                   </div>
               </div>

            </div>
            <!---Container-->

        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>