<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid " id="container-wrapper">
                <div id="box">
                    <div class="sticky">
                        @import "breadcrumbs.html"
                    </div>

                    <div class="d-flex flex-wrap example my-5">
                        <button type="button" class="btn-white m-3">loading 1</button>
                        <button type="button" class="btn-white m-3">loading 2</button>
                        <button type="button" class="btn-white m-3">loading 3</button>
                        <button type="button" class="btn-white m-3">loading 4</button>
                        <button type="button" class="btn-white m-3">loading 5(NEW)</button>
                        <button type="button" class="btn-white m-3">loading 6(NEW)</button>
                        <button type="button" class="btn-white m-3">loading 7(NEW)</button>
                        <button type="button" class="btn-white m-3">product 1</button>
                        <button type="button" class="btn-white m-3">product 2</button>
                        <button type="button" class="btn-white m-3">document 1</button>
                        <button type="button" class="btn-white m-3">document 2</button>
                        <button type="button" class="btn-white m-3">document 3</button>
                    </div>
                </div>

                @import "popups.html"

            </div>
            <!---Container-->

        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>