<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>acargo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="css/libs.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="overlay"></div>
    @import "sidebar.html"
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @import "topbar.html"
            <!-- Container-->
            <div class="container-fluid active" id="container-wrapper ">
                <div id="box"> </div>
                <div class="popup active">
                    <div class="box-white py-4 px-lg-5 active">
                        <div class="d-flex justify-content-end mb-4">
                            <a href="#" class="close">
                                <img src="img/gray__cancel.svg" alt="close">
                            </a>
                        </div>
                        <h2 class="title-2 c-navy-blue weight-medium mb-5">TIMELINE</h2>
                        <div class="timeline">
                            <div class="timeline-row d-flex flex-md-row flex-row-reverse justify-content-md-center justify-content-end">
                                <div class="timeline-item">
                                    <p class="weight-medium c-navy-blue mb-2">Delivery</p>
                                    <p class="c-blue-gray">Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                                <div class="timeline-circle">
                                    <img src="img/check.png" alt="check" class="timeline-icon">
                                </div>

                                <div class="timeline-item d-md-block d-none"></div>
                            </div>
                            <div class="timeline-row d-flex justify-content-md-center ">
                                <div class="timeline-item d-md-block d-none"></div>
                                <div class="timeline-circle">
                                    <img src="img/check.png" alt="check" class="timeline-icon">
                                </div>
                                <div class="timeline-item">
                                    <p class="weight-medium c-navy-blue mb-2">Delivery</p>
                                    <p class="c-blue-gray">Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                            </div>
                            <div class="timeline-row d-flex flex-md-row flex-row-reverse justify-content-md-center justify-content-end ">
                                <div class="timeline-item" >
                                    <p class="weight-medium c-navy-blue mb-2">Delivery</p>
                                    <p class="c-blue-gray">Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                                <div class="timeline-circle">
                                    <img src="img/check.png" alt="check" class="timeline-icon">
                                </div>
                                <div class="timeline-item d-md-block d-none"></div>
                            </div>
                            <div class="timeline-row d-flex justify-content-md-center ">
                                <div class="timeline-item d-md-block d-none"></div>
                                <div class="timeline-circle">
                                    <img src="img/check.png" alt="check" class="timeline-icon">
                                </div>
                                <div class="timeline-item">
                                    <p class="weight-medium c-navy-blue mb-2">Delivery</p>
                                    <p class="c-blue-gray">Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                            </div>
                            <div class="timeline-row d-flex flex-md-row flex-row-reverse justify-content-md-center justify-content-end ">
                                <div class="timeline-item">
                                    <p class="weight-medium c-navy-blue mb-2">Delivery</p>
                                    <p class="c-blue-gray">Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                                <div class="timeline-circle">
                                    <img src="img/check.png" alt="check" class="timeline-icon">
                                </div>
                                <div class="timeline-item d-md-block d-none"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!---Container-->


        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/admin.js"></script>
</body>

</html>