@import "fonts"
@import "vars"


*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: $color5
  line-height: 1

*:-moz-placeholder
  color: $color5
  line-height: 1

*::-moz-placeholder
  color: $color5
  line-height: 1

*:-ms-input-placeholder
  color: $color5
  line-height: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: $color5

body input:required:valid,
body textarea:required:valid
  color: $color5

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none
i
  font-style: italic
a
  outline: none
  text-decoration: none
a[href^="tel"]
  color: inherit
  text-decoration: none
table
  border-collapse: collapse
  border-spacing: 0

body
  position: relative
  font-family: 'Roboto', sans-serif
  font-size: 15px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $color2

img
  display: block
  object-fit: contain

.container
  margin: 0
.overlay
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: 100%
  background: rgba(#000, 0.7)
  z-index: 5
  opacity: 0
  pointer-events: none
  transition: all 0.3s ease
.sidebar.toggled
  z-index: 6
.sidebar-menu
  height: calc(100vh - 72px)
  overflow-y: auto
.sidebar .nav-item .nav-link::after
  right: 10px
  position: absolute
  font-size: 12px
  top: 50%
  transform: translateY(-50%)
  background: url("../img/arrow-point-to-right.svg") no-repeat center / 6px 10px
  width: 6px
  height: 10px
  color: transparent
.sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after
  color: transparent
.sidebar .nav-item.active .nav-link
  &::after
    transform: translateY(-50%) rotate(90deg)
.sidebar .nav-item .collapse
  margin: 0
  width: max-content
  border-radius: 7px
  &-item
    padding: 2.5px 15px 2.5px 102px
    background: $color1
  &-link
    padding-left: 15px
    color: $color2
    font-size: 14px
    position: relative
    &:before
      @include before
      top: 50%
      transform: translateY(-50%)
      border-radius: 50%
      width: 7px
      height: 7px
      background-color: $color4
.nav-link-img
  width: 20px
  margin-right: 25px
  img
    width: auto
    height: auto
.breadcrumbs
  position: relative
  &:before
    @include before
    top: 50%
    transform: translateY(-50%)
    width: 100%
    height: calc(100% - 8px)
    background: $color1
    z-index: 0
  .disabled
    opacity: 1
  .nav
    position: relative
    z-index: 1
    width: 100%
    padding-right: 220px
.pills-custom
  .nav-icon
    width: 14px
    height: 11px
    margin-right: 6px
  .nav-link
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    color: #141515
    &:before, &:after
      @include before
      content: none
      left: auto
      right: -1px
      width: 0
      height: 0
      top: 50%
      transform: translateY(-50%)
      border-style: solid
      border-width: 38px 0 38px 30px
      border-color: transparent transparent transparent $color1
      z-index: 2
    &:after
      right: 2px
      border-width: 45px 0 45px 36px

    &.focus, &:hover, &:focus
      &:before
        content: ''
      &:after
        content: ''
        border-color: transparent transparent transparent #f6f7f8
    &.active, &.active:hover, &.active:focus, &.active.focus, &.active.focus:hover, &.active.focus:focus
      &:before
        content: ''
      &:after
        content: ''
        border-color: transparent transparent transparent #49ddaa
    &.disabled, &.disabled:hover, &.disabled:focus
      &:before
        content: ''
      &:after
        content: ''
        border-color: transparent transparent transparent #f6f7f8
    span
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 30px
      z-index: -1
    &.focus
      font-weight: bold
      color: #156CE4
  .nav-item
    &:first-child
      .focus
        span
          background-color: #f6f7f8
      .disabled
        span
          background-color: #f6f7f8!important
      .active, .active.focus
        span
          background-color: #49ddaa
      &.active.disabled
        span
          background-color: #f6f7f8!important

.pills-custom .nav-link.active.focus
  background-image: url("../img/nav-custom/path-1.svg")
input, textarea
  font-size: 16px
  outline: none
  border-radius: 4px
  border: solid 1px $color6
  padding: 11px 13px
  color: $color5
  line-height: 1
  width: 100%
  appearance: none
  height: 42px
  background: transparent
textarea
  border: none
  width: 100%
  max-width: 100%
  padding: 0
  &.bg-white
    border: solid 1px $color6
.textarea
  height: 107px
  border-radius: 4px
  background-color: #f3faff
  resize: none
  padding: 20px
.textarea__messages
  position: relative
  &-icon
    position: absolute
    left: 20px
    top: 20px
  .textarea
    padding-left: 47px
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
input[type=number]
  -moz-appearance: textfield
input:disabled
  background: $color1
  opacity: 0.3

label
  position: relative

button
  cursor: pointer
  outline: none
  border: none
  appearance: none
  background: transparent
  &:focus
    outline: none
.border-bottom
  border-bottom: 4px solid #e7f5fe!important
  &.d-flex
    max-width: 503px
.link-share
  position: relative
.select__time
  .select__item
    background: url("../img/wall-clock.svg") no-repeat left 15px center / 21px
    padding-left: 40px

.line-between__time
  position: relative
  &:before
    content: ''
    position: absolute
    right: -0.7rem
    bottom: 19px
    width: 21px
    height: 1px
    background: #b7bcd6
.select
  position: relative
  width: 100%
  height: 42px
  border-radius: 4px
  border: solid 1px $color6
  &:before
    @include before
    background: url("../img/arrow-drop-down-24-px.svg") no-repeat center / 10px 5px
    transition: all 0.2s ease
    width: 10px
    height: 100%
    left: auto
    right: 16px
    pointer-events: none
  &.active
    &:before
      transform: scale(1,-1)
  &__drop
    position: absolute
    top: 100%
    left: 0
    width: 100%
    padding-top: 3px
    z-index: 5
    display: none
    min-width: max-content
  &__menu
    border-radius: 4px
    border: solid 1px $color6
    overflow-y: auto
    max-height: 138px
    padding: 7px 0
    background: $color1
    appearance: none
    scrollbar-color: $color6 $color1
    scrollbar-width: thin
    &::-webkit-scrollbar
      width: 3px
      appearance: none
    &::-webkit-scrollbar-thumb
      border-radius: 4px
      background-color: $color6
    &::-webkit-scrollbar-button
      display: none
  &__option
    color: $color2
    transition: all 0.25s ease
    line-height: 1.73
    cursor: pointer
    padding: 0 15px
    &.active, &:hover
      color: $color4
  &__option-check
    color: $color2
    transition: all 0.25s ease
    line-height: 1.73
    cursor: pointer
    padding: 0 30px 0 15px
    background-position: right 10px center
    &.active, &:hover
      color: $color4
    &.active
      background: url("../img/check.svg") no-repeat right 10px center / 15px
  &__item
    line-height: 40px
    padding: 0 30px 0 13px
    color: $color5
    font-size: 16px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%
    height: 100%
    border: none
  &-noarrow
    &:before
      content: none
  &-absolut
    position: absolute
    left: 50%
    transform: translateX(-50%)
    width: fit-content
    top: calc(100% + 10px)
    display: none
    z-index: 4
    .select__menu
      max-height: inherit
.select__add
  border: none
  max-width: 210px
  .select__item
    font-size: 15px
    font-style: italic
    color: #b7bcd6
.select__two
  border: none
  height: auto
  width: fit-content
  .select__item
    line-height: 1
    font-size: 15px
    padding: 0 20px 0 0
    &.text-14
      font-size: 14px
      margin: 0
  .select__option
    font-size: 14px
    line-height: normal
    padding: 0 10px
    margin: 5px 0
    color: #67758d
    &:hover, &.active
      color: #109CF1
  &:before
    right: 5px
.select__search
  .select__item
    background: url("../img/search-1.svg") no-repeat left 15px center/ 14px
    padding-left: 35px
.select__carrier
  border: solid 1px $color4
  border-radius: 4px
  &-item
    line-height: 52px
  .arrow-drop
    border-color: $color6 transparent transparent transparent
.input-add
  border: none
  padding: 10px 0 0
  height: auto
  &::-webkit-input-placeholder
    font-size: 15px
    font-style: italic
    color: $color4
  &:-moz-placeholder
    font-size: 15px
    font-style: italic
    color: $color4
  &::-moz-placeholder
    font-size: 15px
    font-style: italic
    color: $color4
  &:-ms-input-placeholder
    font-size: 15px
    font-style: italic
    color: $color4
.select-v3
  .select__menu
    padding: 0
    overflow-x: hidden
.select__menu-top
  border-radius: 1.5px
  background-color: rgba(183, 188, 214, 0.33)
  padding: 5px 10px
  p.text-13
    color: #109cf1!important
.select__menu-body
  padding: 10px 10px 2px 10px
.input-date
  background: url("../img/calendar-1.svg") no-repeat right 17px center / 23px 23px
  padding: 11px 45px 11px 13px
.input-search
  padding: 13px 20px 13px 53px
  border-radius: 4px
  border: solid 1px rgba($color6, 0.08)
  background: rgba($color4, 0.08) url("../img/search-1.svg") no-repeat left 20px center / 16px
  font-size: 14px
  line-height: 1
  font-size: 14px
.input-text, .input-normal, .input-resize
  border: none
  padding: 0
  height: auto
  font-size: 15px
  color: $color2
  line-height: normal
.input-normal
  color: #b7bcd6
  text-align: center
  &::-webkit-input-placeholder
    color: #b7bcd6
  &:-moz-placeholder
    color: #b7bcd6
  &::-moz-placeholder
    color: #b7bcd6
  &:-ms-input-placeholder
    color: #b7bcd6
.input-resize
  min-width: 14px
  margin-right: 5px
  //width: 8px
  &::-webkit-input-placeholder
    color: #b7bcd6
  &:-moz-placeholder
    color: #b7bcd6
  &::-moz-placeholder
    color: #b7bcd6
  &:-ms-input-placeholder
    color: #b7bcd6

.input__dark-gray
  padding: 0
  border: none
  height: auto
  line-height: 1
  &::-webkit-input-placeholder
    font-size: 14px
    font-style: italic
    color: #67758d
  &:-moz-placeholder
    font-size: 14px
    font-style: italic
    color: #67758d
  &::-moz-placeholder
    font-size: 14px
    font-style: italic
    color: #67758d
  &:-ms-input-placeholder
    font-size: 14px
    font-style: italic
    color: #67758d

.input-gray
  font-size: 14px
  border: none
  padding: 0
  line-height: 1
  height: auto
  font-weight: normal
  font-stretch: normal
  font-style: normal
  letter-spacing: normal
  color: $color6
  &::-webkit-input-placeholder
    color: $color6
  &:-moz-placeholder
    color: $color6
  &::-moz-placeholder
    color: $color6
  &:-ms-input-placeholder
    color: $color6
.input-notes_v2
  border-radius: 4px
  text-align: left
  background: #f3faff url("../img/create-24-px.svg") no-repeat left 20px center / 14px
  padding-left: 45px
  border: none
.input__clear
  width: 100%
  position: relative
  &:focus .drop, &:active .drop, .drop:hover
    display: block
.clear, .clear-two, .delete_v1
  position: absolute
  right: 15px
  top: 50%
  transform: translateY(-50%)
  width: 20px
  height: 20px
  z-index: 7
  &:before, &:after
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%) rotate(45deg)
    width: 1px
    height: 20px
    background: $color5
    transition: all 0.3s ease
  &:after
    width: 20px
    height: 1px
.clear-two
  right: 14px
  &:hover
    &:before, &:after
      background-color: red
  &:before
    height: 16px
    background-color: #b7bcd6
  &:after
    width: 16px
    background-color: #b7bcd6

.delete_v1
  right: -8px
  &:hover
    &:before, &:after
      background-color: red
  &:before
    height: 14px
    background-color: #b7bcd6
  &:after
    width: 14px
    background-color: #b7bcd6

.add-order-no
  .select
    border: none
    max-width: 180px
.arrow-drop
  width: 0
  height: 0
  border-style: solid
  border-width: 5px 5px 0 5px
  border-color: #141515 transparent transparent transparent
  margin-left: 5px
#box
  width: 100%
.nav-link-arrow
  width: 16px
  height: 16px
  margin: 0 6px 0 24px
.drop
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 6
  padding-top: 45px
  display: none
  &.active
    display: block
  &__menu
    border-radius: 4px
    border: solid 1px rgba(183, 188, 214, 0.23)
    background-color: $color1
    padding: 14px
    max-height: 322px
    overflow-y: auto
    scrollbar-width: thin
    &::-webkit-scrollbar
      width: 6px
      height: 6px
    &::-webkit-scrollbar-thumb
      border-radius: 4px
      background-color: rgba($color6, 0.6)
  &__label
    .card__check
      width: 16px
      height: 16px
.overlay-small
  max-height: 125px
.check__text
  font-size: 12px
  line-height: 1.58
  color: $color5

.checkbox
  display: none
  position: absolute
  right: 0
  top: 0
  &__blue
    .checkbox__text
      color: $color5
      font-size: 16px
      line-height: 2.13
  &__label
    margin-right: 25px
    cursor: pointer
  &__check
    padding: 7px 20px
    border-radius: 4px
    background-color: #f6f7f8
  &__icon, &__icon-blue
    width: 16px
    height: 16px
    border: solid 1px $color6
    display: block
    margin-left: 11px
    border-radius: 4px
    flex-shrink: 0
  &__private-check
    .checkbox__text
      font-weight: 500

  &:checked ~ .checkbox__check
    background: $color4
    .checkbox__text
      color: $color1
    .checkbox__icon
      border-color: transparent
      background: $color1 url("../img/check.svg") no-repeat center / 90% 100%
  &:checked ~ .checkbox__private-check
    .checkbox__text
      color: #156ce4
    .checkbox__icon
      border-color: transparent
      background: url("../img/check-gray.svg") no-repeat center / 100%
  &:checked ~ .radio__check
    &:before
      background: $color6
  &:checked ~ .card__check
    background: url("../img/check-gray.svg") no-repeat center / 100%
    border: none
  &:checked ~ .mark-stage__check
    border-color: transparent
    background: $color1 url("../img/check.svg") no-repeat center/90% 100%
  &:checked ~ .checkbox__icon-blue
    border-color: $color4
    background: url("../img/blue__check-box-empty-copy-6.svg") no-repeat center/ 16px
  &:checked ~ .checkbox__transport-check
    background: $color4 url("../img/check-white.svg") no-repeat center/ 80%
    border: 1px solid $color4
  &:checked ~ .checkbox__transport-icon path
    fill: #109cf1
  &:checked ~ .check__text
    color: $color4
.check-small
  width: 16px!important
  height: 16px!important
.radio__check
  width: 22px
  height: 22px
  border: solid 1px $color6
  border-radius: 50%
  display: block
  position: relative
  margin-left: 16px
  cursor: pointer
  flex-shrink: 0
  &:before
    @include before
    width: 13px
    height: 13px
    background: transparent
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.box-white
  @include box-white
  &__top
    border-bottom: solid 1px #ebeff2
    min-height: 56px
    padding: 10px 0
    &-item
      width: calc(33.33% - 34px)
.btn-search
  border-radius: 4px 0 0 4px
  border: solid 1px $color6
  background-color: $color4
  height: 29px

.search-input
  font-size: 13px
  height: 29px
  padding: 6px 15px
  border-radius: 0 4px 4px 0
  border-left: none
  &::-webkit-input-placeholder
    color: $color6
    font-style: italic

  &:-moz-placeholder
    color: $color6
    font-style: italic

  &::-moz-placeholder
    color: $color6
    font-style: italic

  &:-ms-input-placeholder
    color: $color6
    font-style: italic
.icon-search
  width: 15px
  height: 100%
.btn-item
  position: absolute
  right: 0
  top: 0
  width: 0
  height: 44px
  border-radius: 4px
  border: solid 1px #49ddaa
  background-color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  color: #37517e
  z-index: 4
  transition: all 0.2s ease
  opacity: 0
  pointer-events: none
  white-space: nowrap
  img
    margin-right: 18px
.btn
  @include blue
  position: relative
  &-arrow
    position: absolute
    width: 18px
    height: 18px
    right: 9px
    &-crossshipment
      .btn-arrow
        &:first-child
          top: 7px
          transform: scale(1,-1)
        &:last-child
          bottom: 7px
    &-export
      .btn-arrow
        bottom: 7px
    &-import
      .btn-arrow
        bottom: 7px
        transform: scale(-1,-1)

  &-text
    margin-top: 4px
  &-aquamarine
    min-width: 100px
    line-height: 1
    border-radius: 4px
    background-color: #49ddaa
    font-size: 14px
    font-weight: 500
    color: $color1
    padding: 9px
    text-align: center
    display: inline-block
    position: relative
    &:hover, &:focus
      text-decoration: none
      color: $color1
      .btn-item
        opacity: 1
        pointer-events: auto
        width: 265px

    &.big
      font-size: 15px
      min-width: 170px
      padding: 14px 10px
  &-disabled
    opacity: 0.98
    border-radius: 4px
    background-color: $color6
    color: $color1
    line-height: 1
    padding: 9px
  &-drop
    background: url("../img/down.svg") no-repeat right center / 14px
    width: 36px
    height: 34px
  &-white
    border-radius: 4px
    border: solid 1.5px #49ddaa
    min-width: 170px
    text-align: center
    line-height: 41px
    font-weight: 500
    color: $color5
    display: block
  &-blue
    border-radius: 4px
    background-color: rgba($color4, 0.98)
    line-height: 44px
    text-align: center
    max-width: 205px
    width: 100%
    font-size: 15px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    color: $color1

.btn-add
  font-size: 16px
  color: #ffffff
  padding: 0 10px
  line-height: 45px

.btn-submit
  max-width: 225px
  width: 100%
  line-height: 26px
  font-size: 15px
.btns .btn-aquamarine.big
  width: fit-content
  padding: 14px 33px
.btn-template
  position: relative
  z-index: 2
  margin-left: -5px
  max-width: 155px
  width: 100%
.btn-filter
  max-width: 303px
  width: 100%
  line-height: 41px
  border-radius: 4px
  border: solid 1.5px $color4
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  color: $color4
  .arrow-drop
    border-color: $color4 transparent transparent transparent
    margin-left: 15px
  &.active
    .arrow-drop
      transform: scale(1,-1)

.table__clear.bg-white-clear
  &:before, &:after
    background: #fff

.close img
  width: 20px
  height: 20px
  opacity: 1
.text-small
  font-size: 10px!important
  color: #b7bcd6
.text-13
  font-size: 13px
  color: $color1
.text-14
  font-size: 14px
  color: $color2
  margin-bottom: 7px
.text-16
  font-size: 16px
  color: $color5
  text-transform: uppercase
.title
  font-size: 18px
  color: #141515
  text-transform: uppercase
.title-2
  font-size: 25px
  color: #141515
  text-align: center
.title-20
  font-size: 20px
  font-weight: 500
  color: $color1
.link
  color: #156ce4
  font-size: 15px
  font-weight: 500
  text-decoration: underline
  width: 100%
  text-align: right
  display: block
.link-show
  font-size: 16px
  color: #109cf1
  text-decoration: underline
.text-decoration-none
  text-decoration: none
.text-italic
  font-style: italic
.disabled
  opacity: 0.3
  pointer-events: none
  .card__way-point:before
    content: none
.disabled-point:before
    content: none!important
.disabled-way
  .card__way-boat, .card__way-img, .card__way-line
    opacity: 0.3
    pointer-events: none
.container-fluid
  padding-right: 7vw
  padding-bottom: 1.5vw
  min-height: calc(100% - 72px)
  &.active
    background-color: rgba(#013389, 0.48)
    #box
      display: none
    .popup
      opacity: 1
      pointer-events: auto
.topbar
  height: auto
  padding: 0 7vw 0 0
  .nav-item .nav-link
    height: 72px
.sidebar-light .sidebar-brand, .sidebar-menu, .topbar
  position: sticky
  top: 0
  z-index: 999
.sidebar-menu
  top: 72px
.topbar.navbar-light .navbar-nav .nav-item .nav-link
  padding: 0 23px
.nav-link.disabled
  pointer-events: auto
  &:hover
    color: #141515
.nav-link
  cursor: pointer
.navbar-list
  display: flex
  width: 100%
  &::-webkit-scrollbar
    display: none
.navbar-item
  border-right: 1px solid #b7bcd6
  padding: 0 40px
  min-height: 43px
  display: flex
  align-items: center
  &:last-child
    border: none
  img
    margin-right: 14px
  span
    display: inline
#wrapper #content-wrapper
  width: calc(100% - 290px)
  background-color: #eff8fe
.container-fluid
  position: relative
  padding-top: 1.5rem
.sidebar
  width: 290px
.burger-mob
  display: none
#sidebarToggleTop
  position: relative
  width: 29px
  height: 29px
  padding: 25px
  z-index: 6
  &:focus, &.active, &:focus, &:active
    background: transparent

.sidebarToggleTop
  &-line
    width: 29px
    height: 3px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    background: $color1
  &-top
    top: 15px
  &-center
    top: 50%
    transform: translate(-50%, -50%)
  &-bottom
    bottom: 15px
.sidebar .nav-item
  margin-top: 17px
  margin-right: 7px
  &:first-child
    margin-top: 43px
.sidebar-toggled
  #wrapper #content-wrapper
    width: calc(100% - 4.5rem)
  .sidebar .sidebar-brand
    padding: 10px 11px
.garbage
  width: 12px
  height: 16px
.print
  width: 17px
  height: 16px
.contents__order-no, .contents__product
  margin: 0 -30px 0 -25px
.contents__transport
  .fields
    margin-bottom: 44px
.contents__product
  .table__body
    max-height: 345px
.table
  scrollbar-width: thin
  &__one
    .table__body-item
      padding: 25px 40px
  &__two
    .table__body-item
      padding: 19px 40px
  .garbage
    margin-left: 22px
  span
    color: $color5
  p
    color: $color2
  .block__blue
    min-width: auto
    padding: 3px 15px
    margin: 0 0 0 25px
    transition: all 0.3s ease
    height: fit-content
    .text-13
      font-size: 11px
      color: $color1
  &__arrow
    width: 10px
    height: 5px
    margin-right: 1vw
    margin-left: 1.5vw
    &.active
      transform: scale(1,-1)
  &__head
    background-color: rgba($color4, 0.1)
    padding: 20px 22px
    p
      color: #141515
      text-transform: uppercase
  &__body
    max-height: 278px
    overflow-y: auto
    border: solid 1px rgba(183, 188, 214, 0.37)
    .add-order-no
      border: none!important
      padding: 0!important
    &-item
      padding: 25px 22px
      border-bottom: solid 1px rgba(183, 188, 214, 0.37)
      &:last-child
        border-bottom: none
    &::-webkit-scrollbar
      width: 6px
      height: 6px
    &::-webkit-scrollbar-thumb
      opacity: 0.7
      border-radius: 4px
      background-color: $color6
    &-icon
      width: 21px
      height: 18px
      margin-left: 14px
  &__drop
    display: none
    padding: 8px 0 0 0
    p
      color: $color5
      margin-top: 7px
  &__input
    border: none
    width: calc(33.33% + .75rem)
    font-style: italic
  &-list
    margin-top: 7px
  &-item
    margin-bottom: 4px
    &:last-child
      margin-bottom: 0
    span
      display: block
      padding-left: 15px
    a
      font-size: 14px
      color: $color5
      margin-top: 8px
      display: block
.table__sea .table__body
  max-height: 100%
.table__rate-book .table__body
  //max-height: 100%
.table__rate-book
  margin: 0 -30px 0 -25px
  width: calc(100% + 55px)
.public .table__form
  padding: 13px 10px
  border: solid 1px rgba(183, 188, 214, 0.37)
  border-top: none
  .btn-aquamarine
    min-width: auto
    font-size: 14px
    padding: 9px 30px
    margin: 0
.card
  .card__select
    margin-bottom: 0!important
.sticky
  position: sticky
  top: 0
  z-index: 8
  background: #eff8fe
  &.active
    padding: 10px 0
    .first
      margin: 10px 0 0
    .message
      margin: 10px 0 0 0!important
.nav-mark
  position: absolute
  right: 20px
  top: 0
.btn-mark
  display: block
  line-height: 46px
  border-radius: 4px
  border: solid 1px #156ce4
  text-align: center
  padding: 0 30px
  margin: 3px 0
  z-index: 2
  width: fit-content
  font-size: 14px
  color: #156ce4
  background-color: $color1
  &.active
    color: $color1
    padding: 0 30px 0 57px
    background: #156ce4 url("../img/check-box-empty.svg") no-repeat left 30px center / 11px
.first
  padding: 25px 30px 25px 25px
  margin-bottom: 34px
  margin-top: 40px
  .btn
    width: 123px
    height: 74px
    border: solid 1px $color4
  &__icon
    width: 13px
    height: 13px
    margin-right: 15px
  &__input
    color: $color2
    font-size: 15px
    border: none
    border-bottom: 1px solid $color2
    padding: 0
    height: 17px
    width: 20px
    text-align: center
    margin-left: 5px
    border-radius: 0
.calc
  display: flex
  border-radius: 4px
  overflow: hidden
  &__input
    width: calc(100% - 59px - 59px)
    border-radius: 0
    text-align: center
  &__btn
    width: 59px
    height: 42px
    background-color: $color4
    position: relative
    &:before, &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: $color1
      height: 2px
      width: 15px
    &:after
      width: 2px
      height: 15px
    &-minus
      &:after
        content: none


.table_v2
  margin: 0 -30px 0 -25px
  width: calc(100% + 55px)
  .table__head
    padding: 12px 20px
  .table__body
    overflow: visible
    max-height: none
  .table__body-item
    padding: 10px 20px
.circle
  position: relative
  &-span
    width: 3px
    height: 3px
    background-color: #282e3b
    border-radius: 50%
    margin: 2px
    display: block
  &:focus .menu, &:active .menu, .menu:hover
    display: block
.bg-gray
  background: $color6
.bg-light-green
  background-color: rgba(#49ddaa, 0.15)
.bg-light-orange
  background-color: rgba(#f99e04, 0.15)
.bg-light-blue
  background-color: rgba(#e7f5fe, 0.51)
.bg-white
  background-color: $color1
.bg-blue
  background-color: #156ce4
.bg-blue-bright
  background-color: $color4
#files
  display: none
.loader__files-drop
  height: 188px
  width: 100%
  border-radius: 4px
  background-color: rgba(#e7f5fe, 0.51)
  transition: all 0.3s ease
  cursor: pointer
  color: $color5
  font-size: 22px
  &:hover
    background-color: rgba(#e7f5fe, 1)
.popup
  pointer-events: none
  opacity: 0
  transition: all 0.3s ease
  width: 100%
  z-index: 99
  min-height: 100%
  &.active
    opacity: 1
    pointer-events: auto
  .box-white
    display: none
    margin: 0!important
    &.active
      display: block
  .vgm-weight
    margin: 0 auto!important
  &__loading
    &-top
      border-bottom: 4px solid rgba(#daf0fc, 0.65)
      p
        font-size: 17px
        line-height: 1.47
        color: #141515
      .bg-light
        padding: 13px 20px
        min-width: 250px
  &__rate-sea
    max-width: 930px
    .table__head, .table__body-item
      .row
        padding: 0 20px
  &__request
    max-width: 940px
    border: solid 1px $color4
  &__max-width
    max-width: 930px
    margin: 0 auto!important

.popup .box-white
  &.popup__rate-sea, &.popup__max-width
    margin: 0 auto!important


.table__merge
  max-width: 560px
  width: 100%
  padding: 0
  margin: 0 auto
  height: 100%
  .table__body
    max-height: 100%
.check
  width: 18px
  height: 13px
.text-11-blue
  font-size: 11px
  line-height: 1.91
  color: #156ce4
.icon-cursor
  width: 15px
  height: 21px
.icon-team
  width: 23px
  height: 19px
.icon-add
  width: 20px
  height: 20px
.icon-clip
  width: 9px
  height: 10px
.icon-calendar
  width: 16px
  height: 16px
.icon-document
  width: 13px
  height: 17px
.icon-bin, .icon-maths
  width: 12px
  height: 16px
.included
  font-size: 15px
  color: $color4
  position: relative
  img
    margin-right: 6px
    display: inline
.menu
  display: none
  position: absolute
  right: 5px
  top: 0
  width: max-content
  z-index: 7
  overflow: visible
  visibility: visible
  padding-top: 20px
  &__item
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
    img
      width: 16px
      margin-right: 24px
      display: inline
  &__list
    border-radius: 2px
    box-shadow: 1px 2px 15px 2px rgba(40, 46, 59, 0.12)
    background-color: $color1
    padding: 17px 24px
.table__rate-table li
  &:last-child, &:nth-last-child(1), &:nth-last-child(2),  &:nth-last-child(3)
    .menu, .notes-window
      top: auto
      bottom: 0
      padding: 0 0 20px 0
  &:first-child
    .menu, .notes-window
      top: 0
      bottom: auto
      padding-top: 50px
.message
  border-radius: 2px
  border: solid 1px
  background: $color1
  padding: 8px 22px 7px
  min-height: 47px
  &-text
    font-size: 12px
    line-height: 1.33
    max-width: 475px
  &-info
    border-radius: 4px
    box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06)
    background-color: $color1
    display: flex
    padding: 17px 22px
    img
      width: 20px
      height: 15px
      margin-top: 5px
    &__text
      font-size: 15px
      line-height: 1.67
      color: $color2
      max-width: 945px

.loading__info-col
  input
    border: none
    border-bottom: solid 1px rgba(183, 188, 214, 0.37)
    background-color: #ffffff
    padding: 2px 0
    font-size: 14px
    line-height: 1
    height: auto
    color: #282e3b
    margin-right: 22px
    width: 55px
    border-radius: 0
    flex-shrink: 0

  .text-11-blue
    white-space: nowrap
    margin-right: 10px
.period
  &-list
    font-size: 14px
    padding: 5px 12px
    a
      display: block
    .link
      font-size: 16px
      color: $color4
      font-weight: normal
.text-initial
  text-transform: initial
.weight-medium
  font-weight: 500
.weight-normal
  font-weight: 400
.weight-light
  font-weight: 300

.b-green
  border-color: #2acc46
.b-red
  border-color: #e30c0c
.b-orange
  border-color: #f99e04
.b-blue
  border-color: $color4

.c-blue-v1
  color: #24b1ff
.c-blue-light
  color: $color4
.c-blue-gray
  color: $color5
.c-blue
  color: #156ce4
.c-dark
  color: $color2!important
.c-black
  color: #141515
.c-gray
  color: $color6!important
.c-navy-blue
  color: $color7
.c-white
  color: $color1
.c-orange
  color: #f99e04
.c-green
  color: #49ddaa

.drop-upload
  display: flex
  align-items: center
  justify-content: center
  padding: 20px
  border-radius: 4px
  min-height: 64px
  &__icon
    margin-right: 22px
    width: 26px
    height: 24px
  .text-16
    text-transform: inherit
  .loading__file-icon
    display: none
  &.active
    .text-16
      color: #141515
      font-size: 18px
      text-transform: inherit
    .drop-upload__icon
      display: none
    .loading__file-icon
      display: block
#drop-upload, #drop-upload1
  display: none
.typeahead.dropdown-menu
  border: solid 1px $color6
  li a
    background: $color1
    font-size: 16px
    font-family: 'Roboto', sans-serif
    font-weight: normal
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    color: $color2
    line-height: 1.73
    cursor: pointer
    padding: 0 15px
  li
    &.active, &:hover
      color: $color4
.hide
  display: none!important
.datepicker-dropdown, .show-calendar
  box-shadow: 0 0 15px 0 rgba(55, 81, 126, 0.15)
.datepicker-months tbody, .datepicker-years tbody
  td
    display: flex
    flex-wrap: wrap
    justify-content: center
.datepicker-dropdown, .drp-calendar
  padding: 25px 50px 20px
  .prev, .next, th.prev, th.next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 50px!important
    height: 50px!important
    color: transparent
    border-radius: 50%!important
    box-shadow: 0 0 5px 0 rgba(#000, 0.1)!important
    opacity: 1!important
    span
      display: none!important
  .prev
    left: -25px
    background: url("../img/left-arrow.svg") no-repeat center / 100%
  .next
    right: -25px
    background: url("../img/right-arrow.svg") no-repeat center / 100%


.datepicker-switch
  font-family: 'Roboto', sans-serif
  font-size: 16px
  color: #37517e
  padding-bottom: 20px
  display: block
  padding-left: 12px
.day
  font-size: 14px
  color: #455997
  width: 34px
  height: 34px
  padding: 0!important
  vertical-align: middle
  text-align: center
  margin: 2.5px 7px
  display: inline-flex
  justify-content: center
  align-items: center
  cursor: pointer
  &.active
    background-color: $color4
    color: $color1
    border-radius: 50%

.dow
  vertical-align: middle
  text-align: center
  opacity: 0.5
  font-size: 11px
  font-weight: bold
  color: $color6
  display: inline-block
  margin: 2.5px 7px
  padding-bottom: 15px
  width: 34px
  height: 34px

.old, .new
  opacity: 0.5
.month, .year
  width: 25%
  display: flex
  align-items: center
  justify-content: center
  padding: 4px
.calendar-table
  th.month, .month
    justify-content: flex-start
    font-family: "Roboto", sans-serif
    font-size: 16px!important
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: normal!important
    letter-spacing: normal
    color: #37517e!important
    width: fit-content!important
    height: auto!important
    margin-bottom: 13px
    opacity: 1!important
  thead
    tr
      display: flex
      &:nth-child(2)
        th
          width: 34px!important
          height: 34px!important
    th
      width: auto!important
      opacity: 0.5
      font-family: "Roboto", sans-serif
      font-size: 11px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: normal
      letter-spacing: normal
      text-align: center
      color: $color6!important
      margin: 2.5px 6px!important
      display: flex
      align-items: center
      justify-content: center

  tbody
    tr
      display: flex
    td, td.end-date, td.start-date
      width: 47px!important
      height: 34px!important
      border-radius: 50% !important
      font-family: "Roboto", sans-serif
      font-size: 14px!important
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: normal
      letter-spacing: normal
      color: #455997!important
      padding: 0px 5px!important
      margin: 2.5px 0 !important
      display: flex
      align-items: center
      justify-content: center
      &.active
        color: $color1!important
        font-weight: bold
        background: $color4!important
        padding: 0!important
        margin: 2.5px 6.5px!important
        height: 34px!important
        width: 34px!important

      &.weekend
        color: #ff5b5b!important
.daterangepicker td.available:hover, .daterangepicker th.available:hover
  background-color: transparent!important
  border-color: transparent
  color: inherit
.daterangepicker td.in-range
  background-color: rgba(#488dff, 0.1)!important
.daterangepicker .drp-calendar
  max-width: 100% !important
  padding: 25px 38px 20px!important
.daterangepicker td.in-range
  background-color: rgba(#488dff, 0.1)
  border-radius: 0!important
.btn-primary
  width: 107px
  height: 44px
  border-radius: 4px
  background-color: #49ddaa!important
  font-family: "Roboto", sans-serif
  font-size: 14px!important
  font-weight: bold!important
  border: none!important
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: $color1
.drp-buttons
  border: none!important
  padding: 0 20px 20px!important
.drp-selected, .cancelBtn
  display: none!important
.daterangepicker .drp-calendar.left .calendar-table
  padding: 0!important
.off
  opacity: 0.5
.drp-calendar.right
  th.month
    margin-left: -35px!important
.highlighted, .weekend
  color: #ff5b5b!important
.daterangepicker.auto-apply .drp-buttons
  display: block!important
.slider-tick-label
  .way__item-icon
    opacity: 0.3
  &.label-is-selection
    .way__item-icon
      opacity: 1

.slider.slider-horizontal
  width: calc(100% - 150px)
  margin: 120px auto 100px!important
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label
  position: relative
  .way__item-icon
    width: 65px
    position: absolute
    left: 50%
    bottom: calc(100% + 20px + 30px)
    transform: translateX(-50%)
.slider-handle
  background: none
  width: 22px
  height: 22px
  border: none
  box-shadow: none
.slider-tick
  background: none
  width: 22px
  height: 22px
  border: 1px solid #109CF1
  box-shadow: none
  background: #fff
  opacity: 1
.slider-tick.in-selection
  background: none
  width: 22px
  height: 22px
  border: 1px solid #109CF1
  box-shadow: none
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 13px
    height: 13px
    border-radius: 50%
    background: #109CF1
.slider-selection.tick-slider-selection
  box-shadow: none
  background: #37517e
.slider.slider-horizontal .slider-track
  height: 4px
  margin-top: 0
.slider-track-low, .slider-track-high
  box-shadow: none
  background: #37517e
  opacity: 0.3
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label
  padding-top: 25px

.h-22
  height: 22px
  display: flex
  margin-bottom: 22px
  align-items: center

@import "../components/pages/order/style"
@import "../components/pages/products/style"
@import "../components/pages/booking/style"
@import "../components/pages/loading/style"
@import "../components/pages/pre-carriage/style"
@import "../components/pages/document/style"
@import "../components/pages/rate/style"
@import "../components/pages/rate-table/style"
@import "../components/pages/timeline/style"

@import "media"

